Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2018-11, with the labels that each got.

#84 0.3.0
  package-lock.json
  package.json
Labels: 3. to review

#96 Wrap Multiselect
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/Multiselect.vue
  src/components/Multiselect/index.js
  src/components/Multiselect/index.scss
Labels: 3. to review, design, enhancement, feature: multiselect

#98 Fix multiselect slot and title formatter
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review, bug, feature: multiselect

#102 Highlighting selected option
  src/components/Multiselect/Multiselect.vue
  src/components/Multiselect/index.scss
Labels: 4. to release, design, feature: multiselect

#104 Fix default items for app navigation
  src/components/AppNavigation/AppNavigation.vue
Labels: 3. to review, bug

#105 Fix self-reference for recursive app navigation entries
  src/components/AppNavigation/AppNavigationItem.vue
Labels: 4. to release, bug

#107 Allow disabled state for the new button
  src/components/AppNavigation/AppNavigation.vue
Labels: 3. to review, enhancement, feature: app-navigation

#108 Add dedicated collapse button to app navigation items
  src/components/AppNavigation/AppNavigationItem.vue
Labels: 2. developing

#112 Fix propagation of handled click event in action component
  src/components/Action/Action.vue
Labels: 4. to release, bug, feature: action

#114 Fix flex order on datepicker headers arrow buttons
  src/components/DatetimePicker/index.scss
Labels: 3. to review, bug, design, feature: datepicker

#117 Use srcset for avatars
  src/components/Avatar/Avatar.vue
Labels: 3. to review, enhancement, feature: avatar

#116 PopoverMenu: Allow having longtext besides text item property
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 4. to release, enhancement, feature: popovermenu

#118 Multiselect padding loading
  src/components/Multiselect/Multiselect.vue
  src/components/Multiselect/index.scss
Labels: 3. to review, bug, design, enhancement, feature: multiselect

#124 Fix linting
  .eslintrc.js
  src/components/Action/Action.vue
  src/components/AppNavigation/AppNavigation.vue
  src/components/AppNavigation/AppNavigationItem.vue
  src/components/Avatar/Avatar.vue
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/Multiselect.vue
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 3. to review, bug, configuration

#130 "active" class to popover-menu action entries
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 3. to review, enhancement, feature: popovermenu

#132 Fixed scoped multiselect
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review, bug, feature: multiselect

#133 Allow above multiselect
  src/components/Multiselect/index.scss
Labels: 3. to review, enhancement, feature: multiselect

#129 allow to overwrite the default avatar tooltip message
  src/components/Avatar/Avatar.vue
Labels: 4. to release, enhancement, feature: avatar

#131 allow to set isNoUser option for avatar in MultiSelect component
  src/components/Multiselect/AvatarSelectOption.vue
Labels: 3. to review, enhancement, feature: multiselect
