Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-02, with the labels that each got.

#238 add props for navigation class and content class
  src/components/AppContent/AppContent.vue
Labels: 3. to review, design, feature: app-navigation

#247 Fix appsettings toggle
  src/components/AppNavigationSettings/AppNavigationSettings.vue
Labels: 4. to release, bug

#249 Also allow active elments for non-buttons & show pointer on buttons
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 4. to release, bug, feature: popovermenu

#260 Fix modal default width and previous/next event emit
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, design, enhancement, feature: modal

#274 Cleanup unused deps and broken peers + bump webpack
  .travis.yml
  Makefile
  package-lock.json
  package.json
  src/components/PopoverMenu/PopoverMenuItem.vue
  webpack.common.js
Labels: 3. to review, configuration, dependencies

#262 Build separate entrypoints for each component
  Makefile
  package.json
  webpack.common.js
Labels: 3. to review, enhancement

#276 Add modal touch events
  package-lock.json
  package.json
  src/components/Modal/Modal.vue
Labels: 3. to review, enhancement, feature: modal

#277 Modal title and actions
  src/assets/iconfont/close.svg
  src/assets/iconfont/more.svg
  src/assets/iconfont/pause.svg
  src/assets/iconfont/play.svg
  src/components/Action/Action.vue
  src/components/Modal/Modal.vue
  src/components/Modal/index.js
Labels: 3. to review, enhancement, feature: modal, high

#278 Add a two-way prop 'open' to the action component
  src/components/Action/Action.vue
Labels: 3. to review, enhancement, feature: action
