Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-03, with the labels that each got.

#288 Hide limit on active
  src/components/Multiselect/index.scss
Labels: 3. to review, bug, design

#286 Do not hide on touchmove and click too
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal

#291 Fix navigation menu with two or more actions
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, bug, feature: app-navigation

#292 Use visibility instead of display for the modal clear view
  package-lock.json
  package.json
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, design, feature: modal

#293 Prevent modal to go over the title
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, design, feature: modal

#295 Allow to disable swipe events on modal
  src/components/Modal/Modal.vue
Labels: 3. to review, enhancement, feature: modal

#296 remove obsolete prop 'navigationClass'
  src/components/AppNavigation/AppNavigation.vue
Labels: 3. to review, feature: app-navigation

#298 fix comments
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, feature: app-navigation

#300 Darken modal mask background for better focus
  src/components/Modal/Modal.vue
Labels: 3. to review, design, enhancement, feature: modal

#301 Add modal sizes
  package-lock.json
  src/components/Modal/Modal.vue
Labels: 3. to review, enhancement, feature: modal

#302 Enhancements on modal design slideshow
  src/components/Modal/Modal.vue
Labels: 3. to review, design, enhancement, feature: modal

#308 Fix header transition animation and circle reset on clear view
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, design, feature: modal

#312 Rework the modal sizes and layout
  src/components/Modal/Modal.vue
Labels: 3. to review, design, feature: modal, high

#307 AppNavigationItem: remove duplicate code
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, enhancement, feature: app-navigation

#317 Reset timer on manual next
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal

#320 AppNavigationNew: fix type of buttonClass
  src/components/AppNavigationNew/AppNavigationNew.vue
Labels: 3. to review, feature: app-navigation

#321 AppNavigationItem: sync property for menu's open state
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, enhancement, feature: app-navigation

#322 Add canClose prop
  src/components/Modal/Modal.vue
Labels: 4. to release, enhancement, feature: modal

#323 Prevent close if disabled
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal

#325 Force all modals to mount in body
  src/components/Modal/Modal.vue
Labels: 3. to review, enhancement, feature: modal

#327 Add download option on popovermenu link
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 3. to review, feature: popovermenu
