Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-04, with the labels that each got.

#330 Fix bundling of mixins
  src/mixins/isMobile/index.js
  webpack.common.js
Labels: 4. to release, bug

#333 Fix the isMobile mixin
  src/mixins/isMobile/index.js
Labels: 3. to review, bug

#336 Rename AppContent -> Content
  src/components/Content/Content.vue
  src/components/Content/index.js
  src/components/index.js
Labels: 3. to review, enhancement

#341 Fix add icon when tagging in multiselect
  src/components/Multiselect/index.scss
Labels: 3. to review, bug, design, regression

#344 Fix modal this.mc typo
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal

#343 fix settings toggle
  src/components/AppNavigationSettings/AppNavigationSettings.vue
Labels: 3. to review, bug, feature: app-navigation

#342 Action and popovermenu accessibility
  src/components/Action/Action.vue
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 2. developing, feature: action, feature: popovermenu

#340 Implement sidebar component
  src/components/AppNavigationSettings/AppNavigationSettings.vue
  src/components/AppSidebar/AppSidebar.vue
  src/components/AppSidebarTab/AppSidebarTab.vue
  src/components/AppSidebarTab/index.js
  src/components/index.js
Labels: 3. to review, enhancement, feature: app-sidebar, high

#147 Add avatar status support
  src/components/Avatar/Avatar.vue
Labels: 4. to release, enhancement, feature: avatar

#345 improve AppNavigationSettings slide-up transition
  src/components/AppNavigationSettings/AppNavigationSettings.vue
Labels: 4. to release, design, feature: app-navigation

#352 Enhancement/multiselect/ellipsis middle
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/EllipsisedOption.vue
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review, enhancement, feature: multiselect

#354 clean generated fonts
  Makefile
Labels: 3. to review

#355 AppSidebar: fix sidebar close button
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, feature: app-sidebar

#353 Center popoverby default and implement popovermenu variables
  src/assets/variables.scss
  src/components/Action/Action.vue
  src/components/PopoverMenu/PopoverMenu.vue
  src/components/PopoverMenu/PopoverMenuItem.vue
  webpack.common.js
Labels: 3. to review, enhancement, feature: action, feature: popovermenu

#359 AppSidebar. fix error when no tabs
  src/components/AppSidebar/AppSidebar.vue
Labels: 4. to release, bug, feature: app-sidebar

#364 AppSidebar: show actions only if slot is filled
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, feature: app-sidebar

#363 AppSidebar: Add loading property for starred icon
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, enhancement, feature: app-sidebar
