Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-06, with the labels that each got.

#430 Fix mobile toggle over app-content
  src/components/AppNavigationToggle/AppNavigationToggle.vue
Labels: 4. to release, bug, design

#432 Fix ie position of the multiselect input
  src/components/Multiselect/index.scss
Labels: 3. to review, bug, feature: multiselect

#435 new component AppNavigationCaption
  src/components/AppNavigationCaption/AppNavigationCaption.vue
  src/components/AppNavigationCaption/index.js
  src/components/AppNavigationItem/AppNavigationItem.vue
  src/components/index.js
Labels: 3. to review, feature: app-navigation

#440 don't disable user-select
  src/components/AppContent/AppContent.vue
Labels: 3. to review, feature: app-content

#445 AppSidebar: fix tab validation: tabs are optional
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, feature: app-sidebar

#449 Rename slideshow play/pause
  src/components/Modal/Modal.vue
Labels: 3. to review
