Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-09, with the labels that each got.

#569 Fix actions events and performances
  src/components/Actions/Actions.vue
  src/utils/ValidateSlot.js
Labels: 3. to review, bug, feature: actions

#570 Fix remnants of $children implementation
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, feature: actions

#565 Allow wrapped children in validation script
  src/utils/ValidateChildren.js
Labels: 3. to review, bug, feature: actions

#574 fix undefined slot
  src/components/Actions/Actions.vue
  src/utils/ValidateSlot.js
Labels: 3. to review, bug, feature: actions

#576 Prevent vnode false positive
  src/utils/ValidateSlot.js
Labels: 3. to review, bug, feature: actions

#591 Close the datepicker on unfocus
  src/components/ActionInput/ActionInput.vue
Labels: 3. to review, bug, feature: actions

#573 Create Popover component
  src/components/Popover/Popover.vue
  src/components/Popover/index.js
  src/components/index.js
Labels: 3. to review, component, feature: popovermenu

#593 AppNavigation: fix style for CSS class "active"
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, bug, feature: app-navigation

#571 Create ColorPicker component
  package-lock.json
  package.json
  src/assets/iconfont/README.md
  src/assets/iconfont/checkmark.svg
  src/assets/iconfont/confirm-fade.svg
  src/components/Avatar/uidToColor.js
  src/components/ColorPicker/ColorPicker.vue
  src/components/ColorPicker/index.js
  src/components/Popover/Popover.vue
  src/components/index.js
  src/utils/GenColors.js
Labels: 3. to review, component, enhancement

#597 fix check for non-tab-content
  src/components/AppSidebar/AppSidebar.vue
Labels: 4. to release, bug, feature: app-sidebar

#601 Allow auto match from value if useing track-by
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review, feature: multiselect
