Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-08, with the labels that each got.

#513 Add docs to multiselect
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review, feature: documentation, feature: multiselect

#515 Add prop to disable menu on avatar & disable it on multiselect user-select view
  src/components/Avatar/Avatar.vue
  src/components/Multiselect/AvatarSelectOption.vue
Labels: 3. to review, feature: avatar, feature: multiselect

#510 Set defaultHtml setting of v-tooltip to false
  src/directives/Tooltip/index.js
Labels: 3. to review, bug

#514 Fix modal reopening in docs
  src/components/Modal/Modal.vue
Labels: 3. to review, feature: documentation, feature: modal

#517 Fix/multiselect/user select bind all properties
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/Multiselect.vue
  styleguide.config.js
Labels: 3. to review, feature: documentation, feature: multiselect

#519 Automatically bold data from search in user-select template
  package-lock.json
  package.json
  src/components/Multiselect/AvatarSelectOption.vue
Labels: 3. to review, feature: multiselect

#525 remove vuepress-jsdoc
  package-lock.json
  package.json
Labels: 3. to review, dependencies, security

#521 Forward all slots to multiselect
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review, feature: multiselect

#527 Fix default icon size on user-select layout
  src/components/Multiselect/AvatarSelectOption.vue
Labels: 3. to review, bug, design, feature: multiselect

#528 Allow pausing ongoing modal slideshow
  .stylelintrc.js
  src/components/Modal/Modal.vue
  src/utils/Timer.js
Labels: 3. to review, enhancement, feature: modal

#520 Remove old legacy template
  packages/webpack4-template-simple/README.md
  packages/webpack4-template-simple/meta.json
  packages/webpack4-template-simple/template/.babelrc
  packages/webpack4-template-simple/template/.editorconfig
  packages/webpack4-template-simple/template/.gitignore
  packages/webpack4-template-simple/template/.jshintrc
  packages/webpack4-template-simple/template/Makefile
  packages/webpack4-template-simple/template/README.md
  packages/webpack4-template-simple/template/package.json
  packages/webpack4-template-simple/template/src/App.vue
  packages/webpack4-template-simple/template/src/main.js
  packages/webpack4-template-simple/template/webpack.common.js
  packages/webpack4-template-simple/template/webpack.dev.js
  packages/webpack4-template-simple/template/webpack.prod.js
Labels: 3. to review, feature: template

#509 Make datepicker focusable
  src/components/ActionInput/ActionInput.vue
Labels: 3. to review, accessibility, bug, feature: actions

#526 Allow properly settings avatars for guests as well
  src/components/Avatar/Avatar.vue
Labels: 3. to review, enhancement, feature: avatar

#529 Fix Cannot read property 'length' of undefined on truncated entry - multiselect
  src/components/Multiselect/EllipsisedOption.vue
Labels: 3. to review, bug, feature: multiselect

#530 Fix modal timeout clear
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal, high

#535 Fix duplicate bakground color on action menu toggle
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, feature: actions

#536 Allow to provide an order for sidebar tabs
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 3. to review, bug, feature: app-sidebar

#540 Fix tooltip positionning
  src/directives/Tooltip/index.scss
Labels: 3. to review, bug, design, feature: tooltip

#538 Correctly show option by label if it's a tag
  src/components/Multiselect/EllipsisedOption.vue
Labels: 3. to review, bug, feature: multiselect

#557 Do not allow disabled links
  src/components/ActionButton/ActionButton.vue
  src/components/ActionLink/ActionLink.vue
  src/components/ActionRouter/ActionRouter.vue
Labels: 3. to review, bug, feature: actions

#548 Fix year/month select on the datepicker
  src/components/DatetimePicker/DatetimePicker.vue
Labels: 3. to review, bug, feature: datepicker

#539 Fix highlight on multiselect slots
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/EllipsisedOption.vue
  src/components/Multiselect/Multiselect.vue
  src/mixins/highlightText.js
Labels: 3. to review, bug, design, feature: multiselect

#558 Remove unused isFocusable computed
  src/components/ActionLink/ActionLink.vue
  src/components/ActionRouter/ActionRouter.vue
Labels: 3. to review, bug, feature: actions

#561 Fix actions focus querySelector
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, feature: actions

#562 Add datetime picker docs
  src/components/DatetimePicker/DatetimePicker.vue
Labels: 4. to release, feature: datepicker, feature: documentation

#564 Remove code disabled actions remnants
  src/components/ActionLink/ActionLink.vue
  src/components/ActionRouter/ActionRouter.vue
Labels: 3. to review, bug, feature: actions
