Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-05, with the labels that each got.

#379 Fix fullscreen and mobile mode detection
  src/mixins/isFullScreen/index.js
  src/mixins/isMobile/index.js
Labels: 3. to review, bug

#380 Fix modal actions and header display
  src/components/Modal/Modal.vue
Labels: 3. to review, design, feature: modal

#381 AppNavigationItem: synced prop for open state
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, enhancement, feature: app-navigation

#385 Accessibility and show avatar menu indicator on hover
  src/components/Avatar/Avatar.vue
Labels: 3. to review, accessibility, design, feature: avatar

#390 Add back download and validate ActionLink props
  src/components/ActionLink/ActionLink.vue
Labels: 3. to review, enhancement, feature: action, regression

#391 Fix Actions empty display and text length
  src/components/Actions/Actions.vue
  src/mixins/actionGlobal.js
Labels: 3. to review, bug, regression

#387 Allow to disable a popover menu button
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 3. to review, enhancement

#392 Also allow relative url
  src/components/ActionLink/ActionLink.vue
Labels: 3. to review, bug, feature: action

#384 Add tooltip title, accessibility & css cleanup
  src/components/Modal/Modal.vue
Labels: 3. to review, accessibility, design, feature: modal

#393 Properly style disabled buttons on hover
  src/components/PopoverMenu/PopoverMenuItem.vue
Labels: 3. to review, bug

#394 Fix tooltip design and scoping
  src/directives/Tooltip/index.js
  src/directives/Tooltip/index.scss
Labels: 3. to review, bug, design

#396 Add Nextcloud linting
  .eslintrc.js
  package-lock.json
  package.json
Labels: 3. to review

#397 Automatically shift popovermenu if out of window
  src/components/Actions/Actions.vue
  src/utils/IsOutOfViewport.js
Labels: 3. to review, design, enhancement, feature: action

#398 Fix actions menu grey focus colour
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, design

#395 Trigger value save on year/month select
  src/components/DatetimePicker/DatetimePicker.vue
Labels: 3. to review

#399 Fix action input width and randomid
  src/components/ActionCheckbox/ActionCheckbox.vue
  src/components/ActionInput/ActionInput.vue
Labels: 3. to review, bug, design, feature: action

#400 Make action text reactive
  src/mixins/actionGlobal.js
Labels: 3. to review, bug, feature: action

#403 Display Multiselect white spaces on first part too
  src/components/Multiselect/EllipsisedOption.vue
Labels: 3. to review, bug, design, feature: multiselect

#382 Add AppContentList and AppContentDetails components
  src/components/AppContentDetails/AppContentDetails.vue
  src/components/AppContentDetails/index.js
  src/components/AppContentList/AppContentList.vue
  src/components/AppContentList/index.js
  src/components/index.js
Labels: 3. to review

#418 Emit onFigureClick event and jsDoc bump
  package-lock.json
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, enhancement, feature: app-sidebar

#419 Add AppSidebarTab component name
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 3. to review, feature: app-sidebar

#420 Properly validate sidebar tabs and warn
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, enhancement, feature: app-sidebar
