Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2019-11, with the labels that each got.

#707 🐛 FIX: exact-active-class support to not always highlight root element as active
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, backport-request, bug, feature: app-navigation

#598 UserBubble component
  src/components/Avatar/Avatar.vue
  src/components/UserBubble/UserBubble.vue
  src/components/UserBubble/index.js
  src/components/index.js
Labels: 3. to review, enhancement, feature: userbubble

#671 Add MultiselectTags component
  package-lock.json
  package.json
  src/components/MultiselectTags/MultiselectTags.vue
  src/components/MultiselectTags/api.js
  src/components/MultiselectTags/index.js
  src/components/index.js
  styleguide.config.js
  styleguide/global.requires.js
Labels: 4. to release, feature: multiselect

#711 🐛 FIX: adjust isMobile mixin to match the breakpoint variable
  src/mixins/isMobile/index.js
Labels: 3. to review, bug, design

#716 AppSidebar: fix sidebar close (prevent default)
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, backport-request, feature: app-sidebar

#715 👌 IMPROVE: open Actions popover to the top if it would be out of thviewport otherwise
  src/components/Actions/Actions.vue
Labels: 3. to review, design, feature: actions

#713 Remove the background on loaded images
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar

#718 new component: ActionSeparator
  src/components/ActionSeparator/ActionSeparator.vue
  src/components/ActionSeparator/index.js
  src/components/Actions/Actions.vue
  src/components/index.js
Labels: 3. to review, feature: actions

#714 AppNavigationItem: improve edit functionality
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, design, feature: app-navigation

#708 Bugfix/user bubble/various fixes
  src/components/UserBubble/UserBubble.vue
Labels: 3. to review, bug, component, feature: userbubble

#660 Use regular text color for selected tag to not de-emphasize
  src/components/Multiselect/index.scss
Labels: 3. to review, design, enhancement

#710 Adjust header elements
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, backport-request, bug, feature: app-sidebar

#735 Allow ActionText components with no icon
  src/components/ActionText/ActionText.vue
  src/mixins/actionText.js
Labels: 3. to review, backport-request

#749 Use babel env usage & corejs@3
  babel.config.js
  package-lock.json
  package.json
  webpack.common.js
Labels: 3. to review, bug, configuration, high

#750 Fix modal backdrop
  src/components/Modal/Modal.vue
Labels: 3. to review, bug
