Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2020-08, with the labels that each got.

#1260 Avatar: Add empty alt attribute for accessibility
  src/components/Avatar/Avatar.vue
Labels: 3. to review, accessibility, feature: avatar

#983 Allow to add exclude list for v-click-outside
  l10n/messages.pot
  src/components/AppNavigationSettings/AppNavigationSettings.vue
  src/mixins/excludeClickOutsideClasses.js
  src/mixins/index.js
Labels: 3. to review, enhancement

#1278 fix height of avatar icon
  src/components/Avatar/Avatar.vue
Labels: 4. to release, design, feature: avatar

#1202 vertically align active checkmark to center
  src/components/ColorPicker/ColorPicker.vue
Labels: 3. to review, bug, design

#1281 Allow empty sidebar, correctly check mixed content
  src/components/AppSidebar/AppSidebar.vue
  src/components/AppSidebarTabs/AppSidebarTabs.vue
  tests/OC.js
  tests/setup.js
  tests/unit/components/AppSidebar/AppSidebarTabs.spec.js
Labels: 3. to review, feature: app-sidebar

#1285 Fix broken netlify docs
  src/components/AppSidebar/AppSidebar.vue
Labels: bug

#1287 Use factory function to return default value
  src/mixins/excludeClickOutsideClasses.js
Labels: bug

#1289 Linkify sidebar title
  package-lock.json
  package.json
  src/components/AppSidebar/AppSidebar.vue
  src/directives/Linkify/index.js
  src/directives/index.js
Labels: 3. to review, enhancement, feature: app-sidebar

#1259 Add user-status to Avatar component
  package-lock.json
  package.json
  src/assets/iconfont/user-status-away.svg
  src/assets/iconfont/user-status-dnd.svg
  src/assets/iconfont/user-status-invisible.svg
  src/assets/iconfont/user-status-online.svg
  src/components/Avatar/Avatar.vue
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/UserBubble/UserBubble.vue
  src/mixins/index.js
  src/mixins/userStatus.js
Labels: 3. to review, feature: avatar

#1304 Fix linting error introduced by #1259
  src/mixins/userStatus.js
Labels: 3. to review

#1288 Allow to toggle editable title by click
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, enhancement, feature: app-sidebar

#1312 Do not display offline (and invisible) as a status
  src/components/Avatar/Avatar.vue
Labels: 4. to release

#1310 Allow to specify a custom action instead of the star
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, enhancement, feature: app-sidebar

#832 Feature/641/use popover component for actions
  l10n/messages.pot
  src/components/Actions/Actions.vue
  src/components/Popover/Popover.vue
Labels: 2. developing, design, enhancement, feature: actions

#1303 Fix tabs & lint
  package-lock.json
  package.json
  src/components/AppSidebar/AppSidebar.vue
  src/components/AppSidebar/AppSidebarTabs.vue
  src/components/AppSidebarTab/AppSidebarTab.vue
  styleguide/global.requires.js
  tests/unit/components/AppSidebar/AppSidebarTabs.spec.js
Labels: 3. to review, bug, feature: app-sidebar, high

#1330 Add background-repeat:no-repeat to icons
  src/assets/action.scss
Labels: 3. to review, bug, feature: actions

#1283 Actions: Introduce icon slots
  src/components/ActionButton/ActionButton.vue
  src/components/ActionInput/ActionInput.vue
  src/components/ActionLink/ActionLink.vue
  src/components/ActionRouter/ActionRouter.vue
  src/components/ActionText/ActionText.vue
  src/components/Actions/Actions.vue
Labels: 3. to review, discussion, enhancement, feature: actions

#1337 Allow to toggle linkification by prop
  src/components/AppSidebar/AppSidebar.vue
  src/directives/Linkify/index.js
Labels: 4. to release, enhancement, feature: app-sidebar

#1341 Update status icons
  l10n/messages.pot
  src/assets/iconfont/user-status-away.svg
  src/assets/iconfont/user-status-dnd.svg
  src/assets/iconfont/user-status-invisible.svg
  src/assets/iconfont/user-status-online.svg
  src/components/Avatar/Avatar.vue
Labels: 4. to release

#1338 Fix sidebar layout in compact mode
  src/components/AppSidebar/AppSidebar.vue
Labels: 4. to release, bug

#1348 Do not fetch user-status if user prop does not represent a user
  src/components/Avatar/Avatar.vue
Labels: 4. to release, feature: avatar

#1351 Allow to choose boundariesElement for actions' popover
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, feature: actions

#1352 Fix default-boundarieselement
  src/components/Actions/Actions.vue
Labels: 4. to release, feature: actions

#1355 Feature/cypress visual regression
  .github/workflows/cypress.yml
  .gitignore
  cypress.json
  cypress/plugins/index.js
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_image - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_image - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_none - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_none - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_image - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_image - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_none - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_none - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_image - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_image - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_none - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_none - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_image - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_image - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_none - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_none - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_image - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_image - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_none - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_none - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_image - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_image - secondary_none-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_none - secondary_button-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_none - secondary_none-base.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_none - secondary_none-diff.png
  cypress/support/commands.js
  cypress/support/index.js
  package-lock.json
  package.json
  tests/.eslintrc.js
  tests/visual/components/AppSidebar/AppSidebar.visual.js
  webpack.common.js
Labels: 4. to release, feature: testing, high

#1356 Remove unwanted files leftovers
  .gitignore
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_false - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_false - compact_true - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_false - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_null - compact_true - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_false - header_none - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_image - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_image - secondary_none-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_none - secondary_button-diff.png
  cypress/snapshots/diff/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue - starred_true - compact_true - header_none - secondary_none-diff.png
Labels: 3. to review, feature: testing

#1363 Disable spell checking for cypress
  cypress/plugins/index.js
Labels: 4. to release, bug
