Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2020-10, with the labels that each got.

#1422 Show icon instead of status if not in do not disturbe mode
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug

#1423 Only use the icon on the avatar when there is one
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar

#1431 Allow spaces in the name of a AppSidebarTab
  src/components/AppSidebar/AppSidebarTabs.vue
Labels: 3. to review, bug

#1429 Add loading state on AppSidebar and remove unwanted slot bind
  src/components/AppSidebar/AppSidebar.vue
  src/components/AppSidebar/AppSidebarTabs.vue
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 3. to review, enhancement, feature: app-sidebar

#1432 Fix modal freeze
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal

#1286 App Settings Dialog
  l10n/messages.pot
  src/components/AppSettingsDialog/AppSettingsDialog.vue
  src/components/AppSettingsDialog/index.js
  src/components/AppSettingsSection/AppSettingsSection.vue
  src/components/AppSettingsSection/index.js
  src/components/index.js
Labels: 4. to release, component

#650 add SettingsInputText compontents
  src/components/SettingsInputText/SettingsInputText.vue
  src/components/SettingsInputText/index.js
Labels: 3. to review, component

#1446 Adds information to README.md file how to use vue-devtools
  README.md
Labels: 3. to review, enhancement

#1456 Fix npm run build by removing obsolete command
  package.json
Labels: 3. to review, bug

#1362 Fix padding of sidebar without secondary actions
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_false–compact_false–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_false–compact_false–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_false–compact_true–header_image–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_false–compact_true–header_image–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_false–compact_true–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_false–compact_true–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_null–compact_false–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_null–compact_false–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_null–compact_true–header_image–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_null–compact_true–header_image–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_null–compact_true–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_null–compact_true–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_true–compact_false–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_true–compact_false–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_true–compact_true–header_image–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_true–compact_true–header_image–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_true–compact_true–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_null–starred_true–compact_true–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_false–compact_false–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_false–compact_false–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_false–compact_true–header_image–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_false–compact_true–header_image–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_false–compact_true–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_false–compact_true–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_null–compact_false–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_null–compact_false–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_null–compact_true–header_image–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_null–compact_true–header_image–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_null–compact_true–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_null–compact_true–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_true–compact_false–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_true–compact_false–header_none–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_true–compact_true–header_image–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_true–compact_true–header_image–secondary_none–editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_true–compact_true–header_none–secondary_none–editable_false-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue–subtitle_true–starred_true–compact_true–header_none–secondary_none–editable_true-base.png
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, feature: app-sidebar

#1407 Adds supports for unicode-encoded names when creating an avatar from a name's initial
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar

#1465 Add submit, multiline and maxlength support
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/RichContenteditable/AutoCompleteResult.vue
  src/components/RichContenteditable/RichContenteditable.vue
Labels: 3. to review, enhancement, feature: rich-contenteditable

#1475 Make mention inlined and ellipsised
  src/components/RichContenteditable/MentionBubble.vue
Labels: 3. to review, bug, design

#1481 Fix autocomplete popup size and shadow
  src/components/RichContenteditable/RichContenteditable.vue
Labels: 3. to review, bug, design, feature: rich-contenteditable

#1346 Snapshot test for usernameToColor function
  build/usernameToColor-export.js
  tests/unit/functions/usernameToColor/__snapshots__/usernameToColor.spec.js.snap
  tests/unit/functions/usernameToColor/usernameToColor.spec.js
Labels: 3. to review, enhancement

#1457 Cache hasAvatar info in sessionStorage to avoid flicker
  package-lock.json
  package.json
  src/components/Avatar/Avatar.vue
Labels: 3. to review, enhancement, feature: avatar

#1489 Cleanup avatar fetching methods
  src/components/Avatar/Avatar.vue
Labels: 3. to review, feature: avatar

#1490 Fix multiLine prop
  src/components/RichContenteditable/RichContenteditable.vue
Labels: 3. to review, bug, feature: rich-contenteditable

#712 🐛 FIX: allow proper linebreak in multiselect for narrow mobile screens
  src/components/Multiselect/index.scss
Labels: 3. to review, design, feature: multiselect

#1491 Fix avatar caching for non-user rendering
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar

#1485 Make appSidebar scrollable inside
  src/components/AppSidebar/AppSidebar.vue
  src/components/AppSidebar/AppSidebarTabs.vue
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 4. to release, enhancement, feature: app-sidebar

#1493 Allow an "extra" slot for the AppNavigationItem
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, enhancement, feature: app-navigation

#1501 Do not show letter if we have an icon and keep image ratio
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, design, feature: avatar

#1492 Bump resolve-url-loader to v3.1.2
  package-lock.json
  package.json
Labels: 3. to review, dependencies

#1502 Improve release instructions
  README.md
Labels: 3. to review, feature: documentation

#1503 Fix setting navigation item blur
  src/components/AppSettingsDialog/AppSettingsDialog.vue
Labels: 3. to review, bug, component

#1509 Don't show navigation of settings modal by default
  src/components/AppSettingsDialog/AppSettingsDialog.vue
Labels: 3. to review

#1517 Adapt to new vue2-datepicker format props
  package.json
  src/components/DatetimePicker/DatetimePicker.vue
Labels: 3. to review, bug, feature: datepicker

#1518 Also set Modal height/width to allow children to define their height/width and not only max-height/width
  src/components/Modal/Modal.vue
Labels: 3. to review, design, feature: modal

#1508 Fix settings blur 2
  src/components/AppSettingsDialog/AppSettingsDialog.vue
Labels: 3. to review, bug
