Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2020-12, with the labels that each got.

#1614 Quickfix for action button and material design icon
  package-lock.json
  package.json
  src/assets/action.scss
  src/components/ActionButton/ActionButton.vue
Labels: 3. to review, bug

#1638 Add AppNavigationNewItem
  src/components/AppNavigationItem/AppNavigationItem.vue
  src/components/AppNavigationNewItem/AppNavigationNewItem.vue
  src/components/AppNavigationNewItem/index.js
  src/components/index.js
Labels: 3. to review, bug, feature: app-navigation

#1639 Fix avatar menu click handler
  src/components/Avatar/Avatar.vue
Labels: 3. to review

#1647 Don't close modal on mouseup
  src/components/Modal/Modal.vue
Labels: 3. to review, bug, feature: modal
