Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2020-01, with the labels that each got.

#773 Add ability to choose popovermenu alignment in avatar component
  src/components/Avatar/Avatar.vue
Labels: 2. developing, feature: avatar

#798 Fix sidebar tabs children reactivity
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, backport-request, bug, feature: app-sidebar, high

#812 Allow actions to be forced into a menu
  src/components/Actions/Actions.vue
Labels: 3. to review, backport-request, enhancement, feature: actions, high

#814 Allow force actions menu into sidebar
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, backport-request, enhancement, feature: actions, feature: app-sidebar

#816 Allow non user mention bubbles
  src/components/UserBubble/UserBubble.vue
Labels: 3. to review, bug

#819 Forward potential events to close and open
  src/components/Actions/Actions.vue
Labels: 3. to review, enhancement, feature: actions

#818 Add missing button to the sidebar input and fix alignments
  package-lock.json
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, feature: app-sidebar, high

#746 Add proper hover/focus/active feedbacks to AppNavigationItem
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, feature: app-navigation

#833 Make sure tabs can have a unique id that is not depending on the name
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 3. to review, backport-request, bug

#838 Publish with github actions
  .github/workflows/npm-publish.yml
Labels: 3. to review

#839 Use github actions for linting and building
  .github/workflows/npm-build-lint.yml
  .travis.yml
Labels: 3. to review, enhancement

#840 Fix Tab default values
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 3. to review, bug, feature: app-sidebar, regression
