Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2020-04, with the labels that each got.

#961 Better sections for app containers
  src/components/Content/Content.vue
  styleguide.config.js
Labels: 3. to review, feature: documentation

#993 Fix breadcrumbs drag example for Firefox ESR
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: 3. to review, bug, feature: breadcrumbs

#995 Fix datepicker design regressions
  .gitignore
  src/components/DatetimePicker/DatetimePicker.vue
  src/components/DatetimePicker/index.scss
Labels: 4. to release, bug, design, feature: datepicker, regression

#1002 Fix audit and lockfile
  package-lock.json
Labels: 3. to review, dependencies

#989 Allow to toggle sidebar and always show the toggle
  package-lock.json
  package.json
  src/components/AppContent/AppContent.vue
  src/components/AppNavigation/AppNavigation.vue
  src/components/AppNavigationToggle/AppNavigationToggle.vue
Labels: 4. to release, enhancement, feature: app-content, feature: app-navigation

#1009 Fix/sidebar tabs overflow
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, design, feature: app-sidebar

#1010 Update AppNavigationIconCollapsible
  src/components/AppNavigationItem/AppNavigationIconCollapsible.vue
Labels: 3. to review, bug, design, feature: app-navigation

#1022 Adjust breadcrumb size on app-navigation toggle
  src/components/AppNavigation/AppNavigation.vue
  src/components/AppNavigationToggle/AppNavigationToggle.vue
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: 3. to review, enhancement, feature: app-navigation, feature: breadcrumbs

#1020 Check by index if hiding breadcrumbs is necessary
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: 3. to review, bug, feature: breadcrumbs

#975 Cleanup code and properly toggle Breadcrumb menu
  l10n/messages.pot
  src/components/Actions/Actions.vue
  src/components/AppContent/AppContent.vue
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: 2. developing, bug, enhancement, feature: actions

#1027 Finish toggle animation before emitting event
  src/components/AppNavigation/AppNavigation.vue
Labels: bug, feature: app-navigation

#909 Add empty content component
  src/components/EmptyContent/EmptyContent.vue
  src/components/EmptyContent/index.js
Labels: 4. to release, component

#1026 Move away from containers server styling
  src/components/AppContent/AppContent.vue
  src/components/AppNavigation/AppNavigation.vue
  src/components/AppNavigationToggle/AppNavigationToggle.vue
  src/components/AppSidebar/AppSidebar.vue
  src/components/Content/Content.vue
Labels: 3. to review, feature: app-content, feature: app-navigation, feature: app-sidebar

#1030 Fix deprecated OC globals
  package-lock.json
  package.json
  src/components/Avatar/Avatar.vue
Labels: 3. to review, dependencies, feature: avatar

#1038 Fix animation-quick fallback
  src/components/AppNavigation/AppNavigation.vue
Labels: 3. to review, bug, feature: app-navigation

#1033 Replace v-html directive for Multiselect highlighting
  package-lock.json
  package.json
  src/components/Highlight/Highlight.vue
  src/components/Highlight/index.js
  src/components/Multiselect/AvatarSelectOption.vue
  src/components/Multiselect/EllipsisedOption.vue
  src/components/Multiselect/Multiselect.vue
  src/utils/FindRanges.js
Labels: 3. to review, feature: multiselect

#1041 Sync package.json and package-lock.json
  package-lock.json
  package.json
Labels: 3. to review, dependencies, papercut, question

#1039 Don't throw error when getCurrentUser() returns null
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug

#1028 Update large modal size
  src/components/Modal/Modal.vue
Labels: 4. to release, enhancement, feature: modal

#1048 Clarify that the app needs to be built after linking
  README.md
Labels: 3. to review, bug, design, feature: documentation

#1047 Force normal font weight for avatar letter placeholder, even for unread mails
  src/components/Avatar/Avatar.vue
Labels: 4. to release, bug, design

#1049 Remove loading spinner from avatar as it makes everything seem slow, fix #910
  src/components/Avatar/Avatar.vue
Labels: 3. to review, design, enhancement, feature: avatar

#1029 Pass Date object for Action Input Value
  src/components/ActionInput/ActionInput.vue
Labels: 3. to review, bug

#1062 Add primary and title option to Actions
  src/components/Actions/Actions.vue
Labels: 3. to review, design, enhancement, feature: actions
