Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2020-09, with the labels that each got.

#1368 Fix active tab prop
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, high, regression

#1369 Forward update:active event in AppSidebar
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, feature: app-sidebar, regression

#1370 New prop for AppNavigationItem to set actions/menu placement
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, enhancement, feature: app-navigation

#1379 Do not fetch user status if current user is a guest
  src/mixins/userStatus.js
Labels: 4. to release, bug, discussion, feature: avatar

#1380 Fetch user status in avatar only if it is going to be shown
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar

#1361 Fix ActionInput label height
  src/components/ActionInput/ActionInput.vue
Labels: 3. to review, bug, feature: actions

#1389 Allow to set popover container
  src/components/Actions/Actions.vue
Labels: 3. to review, enhancement, feature: actions

#1392 Fix customer avatar handling in userbubble
  src/components/UserBubble/UserBubble.vue
Labels: 3. to review, bug, feature: userbubble

#1399 Avatar and status fixes
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar

#1405 Listen to user status events to update the status on avatars
  src/components/Avatar/Avatar.vue
Labels: 3. to review, bug, feature: avatar
