Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2021-12, with the labels that each got.

#2391 Free closeOnSelect
  src/components/Multiselect/Multiselect.vue
Labels: 3. to review

#2397 Automatically use Nextcloud translated months, days and years
  package-lock.json
  src/components/DatetimePicker/DatetimePicker.vue
Labels: enhancement, 3. to review, feature: datepicker

#2413 Use MD icon for hidden crumbs action button icons
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: enhancement, 4. to release, feature: breadcrumbs

#2411 Adjust breadcrumb appearance
  src/components/Breadcrumb/Breadcrumb.vue
  src/components/Breadcrumb/breadcrumb-light.svg
  src/components/Breadcrumb/breadcrumb.svg
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: enhancement, 3. to review, feature: breadcrumbs

#2412 Fix dragging onto hidden crumbs
  src/components/Breadcrumb/Breadcrumb.vue
Labels: bug, 3. to review, feature: breadcrumbs

#2414 Allow custom action menu icon for breadcrumb
  src/components/Breadcrumb/Breadcrumb.vue
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: enhancement, 3. to review, feature: breadcrumbs

#2419 Add option to always show actions
  src/components/ListItem/ListItem.vue
Labels: bug, enhancement, 3. to review, regression

#1474 Add emoji autocompletion
  .eslintrc.js
  l10n/messages.pot
  src/components/RichContenteditable/RichContenteditable.vue
  src/functions/emoji/emoji.js
  src/functions/emoji/index.js
Labels: 3. to review, feature: rich-contenteditable
