Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2021-04, with the labels that each got.

#1809 Make sure to pass all props and attributes to single-action Actions
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, feature: actions

#1822 Prevent title with subtitle from moving when editing
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_true-header_image-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_true-header_image-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_true-header_none-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_true-header_none-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_true-header_image-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_true-header_image-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_true-header_none-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_true-header_none-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_true-header_image-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_true-header_image-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_true-header_none-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar-compact.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_true-header_none-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_false-header_image-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_false-header_image-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_false-header_none-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_false-compact_false-header_none-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_false-header_image-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_false-header_image-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_false-header_none-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_null-compact_false-header_none-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_false-header_image-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_false-header_image-secondary_none-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_false-header_none-secondary_button-editable_true-base.png
  cypress/snapshots/base/components/AppSidebar/AppSidebar.visual.js/AppSidebar.vue-subtitle_true-starred_true-compact_false-header_none-secondary_none-editable_true-base.png
  src/components/AppSidebar/AppSidebar.vue
Labels: 3. to review, bug, feature: app-sidebar

#1834 Fix Actions css
  src/assets/action.scss
Labels: 3. to review, bug, design

#1833 Add id prop to ListItemIcon to prevent v-binding to the Avatar
  src/components/Avatar/Avatar.vue
  src/components/ListItemIcon/ListItemIcon.vue
Labels: 3. to review, accessibility, bug, feature: avatar, feature: list-item-icon

#1816 Fix vue material icons
  l10n/messages.pot
  package-lock.json
  package.json
  src/assets/iconfont/README.md
  src/assets/iconfont/arrow-left-double.svg
  src/assets/iconfont/arrow-left.svg
  src/assets/iconfont/arrow-right-double.svg
  src/assets/iconfont/arrow-right.svg
  src/assets/iconfont/checkmark.svg
  src/assets/iconfont/close.svg
  src/assets/iconfont/confirm.svg
  src/assets/iconfont/info.svg
  src/assets/iconfont/menu.svg
  src/assets/iconfont/more.svg
  src/assets/iconfont/pause.svg
  src/assets/iconfont/play.svg
  src/assets/iconfont/triangle-s.svg
  src/assets/material-icons.css
  src/assets/status-icons/user-status-away.svg
  src/assets/status-icons/user-status-dnd.svg
  src/assets/status-icons/user-status-invisible.svg
  src/assets/status-icons/user-status-online.svg
  src/components/ActionButton/ActionButton.vue
  src/components/ActionInput/ActionInput.vue
  src/components/ActionTextEditable/ActionTextEditable.vue
  src/components/Actions/Actions.vue
  src/components/AppNavigationItem/AppNavigationIconCollapsible.vue
  src/components/AppNavigationItem/AppNavigationItem.vue
  src/components/AppNavigationItem/InputConfirmCancel.vue
  src/components/AppNavigationToggle/AppNavigationToggle.vue
  src/components/Avatar/Avatar.vue
  src/components/Breadcrumb/Breadcrumb.vue
  src/components/Breadcrumb/breadcrumb-light.svg
  src/components/Breadcrumb/breadcrumb.svg
  src/components/ColorPicker/ColorPicker.vue
  src/components/Content/Content.vue
  src/components/DatetimePicker/chevron-double-left-light.svg
  src/components/DatetimePicker/chevron-double-left.svg
  src/components/DatetimePicker/chevron-double-right-light.svg
  src/components/DatetimePicker/chevron-double-right.svg
  src/components/DatetimePicker/chevron-left-light.svg
  src/components/DatetimePicker/chevron-left.svg
  src/components/DatetimePicker/chevron-right-light.svg
  src/components/DatetimePicker/chevron-right.svg
  src/components/DatetimePicker/index.scss
  src/components/Modal/Modal.vue
  src/components/RichContenteditable/AutoCompleteResult.vue
  src/components/RichContenteditable/RichContenteditable.vue
  src/components/SettingsSection/SettingsSection.vue
  tests/unit/functions/usernameToColor/usernameToColor.spec.js
  webpack.common.js
Labels: 4. to release, breaking, design, enhancement, technical debt

#1844 Use ActionButton for AppNavigationToggle
  src/components/AppNavigationToggle/AppNavigationToggle.vue
Labels: 3. to review, accessibility, bug, design, feature: app-navigation

#616 Create ListItem component
  src/components/AppNavigation/AppNavigation.vue
  src/components/ListItem/ListItem.vue
  src/components/ListItem/index.js
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, component, design, feature: app-content

#1739 Create ActionCaption component
  src/components/ActionCaption/ActionCaption.vue
  src/components/ActionCaption/index.js
  src/components/Actions/Actions.vue
  src/components/index.js
Labels: 3. to review, component, feature: actions

#1870 Fix ListItemIcon listeners
  src/components/ListItemIcon/ListItemIcon.vue
Labels: 3. to review, backport-request, bug, feature: list-item-icon

#1863 Update appnavigationcaption
  src/components/AppNavigationCaption/AppNavigationCaption.vue
Labels: 3. to review, component, feature: app-navigation, technical debt

#1875 Add CheckboxRadio component
  src/components/CheckboxRadio/CheckboxRadio.vue
  src/components/CheckboxRadio/index.js
  src/components/index.js
Labels: 3. to review, enhancement

#1883 Improve documentation sections
  styleguide.config.js
Labels: 3. to review, enhancement, feature: documentation, good first issue

#1879 Fix first-action icon class not showing when Actions icon-slot is def…
  src/components/Actions/Actions.vue
Labels: 3. to review, bug, feature: actions

#1888 Add slot for third line in listitem component
  src/components/ListItem/ListItem.vue
Labels: 3. to review, component

#1886 Fix alignment of md icons in single action
  src/components/Actions/Actions.vue
Labels: 3. to review, feature: actions

#1889 Add loading state to CheckboxRadio
  src/components/CheckboxRadio/CheckboxRadio.vue
Labels: 3. to review, enhancement, feature: checkbox-radio-switch

#1890 Implement switch mode to CheckboxRadioSwitch
  src/components/CheckboxRadioSwitch/CheckboxRadioSwitch.vue
  src/components/CheckboxRadioSwitch/index.js
  src/components/index.js
Labels: 3. to review, enhancement, feature: checkbox-radio-switch

#1880 Allow to append datepicker to body
  src/components/DatetimePicker/DatetimePicker.vue
  src/components/DatetimePicker/index.scss
Labels: 3. to review, bug, feature: datepicker

#1897 Fix appnavigationitem layout
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review, backport-request, bug, regression
