Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2022-07, with the labels that each got.

#2833 Fix vue material design icons HTML validation
  src/components/ActionButton/ActionButton.vue
  src/components/ActionInput/ActionInput.vue
  src/components/ActionTextEditable/ActionTextEditable.vue
  src/components/Actions/Actions.vue
  src/components/AppNavigationItem/AppNavigationIconCollapsible.vue
  src/components/AppNavigationItem/AppNavigationItem.vue
  src/components/AppNavigationItem/InputConfirmCancel.vue
  src/components/AppNavigationNew/AppNavigationNew.vue
  src/components/AppNavigationSettings/AppNavigationSettings.vue
  src/components/AppNavigationToggle/AppNavigationToggle.vue
  src/components/AppSidebar/AppSidebar.vue
  src/components/Avatar/Avatar.vue
  src/components/Breadcrumbs/Breadcrumbs.vue
  src/components/CheckboxRadioSwitch/CheckboxRadioSwitch.vue
  src/components/ColorPicker/ColorPicker.vue
  src/components/Modal/Modal.vue
  src/components/SettingsSection/SettingsSection.vue
Labels: bug, 3. to review, accessibility

#2696 add role & aria-labels for accessibility
  src/components/Modal/Modal.vue
Labels: 3. to review, accessibility

#2848 Actions - small a11y adjusts
  src/components/ActionButton/ActionButton.vue
  src/components/Actions/Actions.vue
Labels: 3. to review, accessibility

#2695 Change Prev/next links to buttons
  src/components/Modal/Modal.vue
Labels: bug, 3. to review, accessibility

#2863 Update sample diff for Nextcloud 25
  README.md
Labels: 3. to review

#2855 Fix invalid setting section IDs
  src/components/AppSettingsDialog/AppSettingsDialog.vue
  src/components/AppSettingsSection/AppSettingsSection.vue
Labels: bug, 4. to release, accessibility, feature: settings

#2865 Make captions real headings for improved a11y
  src/components/AppNavigationCaption/AppNavigationCaption.vue
Labels: bug, 4. to release, feature: app-navigation, accessibility

#2871 Add a button style for being used on primary like in the header
  src/components/Button/Button.vue
Labels: bug, 3. to review, accessibility, feature: button

#2565 Improve SettingsInputText component
  src/components/SettingsInputText/SettingsInputText.vue
Labels: enhancement, 3. to review, feature: settings

#2879 Turn the button into router-link when to is there
  src/components/Button/Button.vue
Labels: enhancement, 3. to review, feature: button

#2882 Fix box shadow colour of "tertiary-on-primary" button
  src/components/Button/Button.vue
Labels: bug, 3. to review, feature: button

#2867 Accessible EmptyContent component
  src/components/EmptyContent/EmptyContent.vue
Labels: 4. to release, accessibility, feature: emptycontent, breaking

#2895 Fix issues with Multiselect component
  src/components/Multiselect/EllipsisedOption.vue
  src/components/Multiselect/index.scss
Labels: bug, 3. to review, feature: multiselect, accessibility

#2887 AppDetailsToggle uses Button, MD icon, directive
  src/components/AppContent/AppDetailsToggle.vue
Labels: 3. to review, design, feature: app-content, technical debt

#2877 Bring back AppNavigationToggle tooltip
  src/components/AppNavigationToggle/AppNavigationToggle.vue
Labels: bug, 3. to review, regression

#2600 Migrate to floating-vue
  package-lock.json
  package.json
  src/components/Actions/Actions.vue
  src/components/Avatar/Avatar.vue
  src/components/ColorPicker/ColorPicker.vue
  src/components/EmojiPicker/EmojiPicker.vue
  src/components/Popover/Popover.vue
  src/components/UserBubble/UserBubble.vue
  src/directives/Tooltip/index.js
  src/directives/Tooltip/index.scss
Labels: 3. to review, feature: actions, dependencies, feature: tooltip, feature: emoji picker, technical debt, breaking

#2875 Adjust loading icon style, replace `fillColor` prop
  src/components/LoadingIcon/LoadingIcon.vue
Labels: enhancement, 3. to review, component, design

#2894 Add more explicit title to the sidebar close button
  l10n/messages.pot
  src/components/AppSidebar/AppSidebar.vue
Labels: bug, 3. to review, accessibility

#2898 Add aria-expended attribute
  src/components/Actions/Actions.vue
  src/components/AppNavigationItem/AppNavigationItem.vue
Labels: 3. to review

#2856 Fix ListItem css
  src/components/ListItem/ListItem.vue
Labels: 3. to review, design
