Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2022-06, with the labels that each got.

#2603 Comply with eslint for event name
  src/components/AppSidebarTab/AppSidebarTab.vue
  src/components/EmojiPicker/EmojiPicker.vue
Labels: 3. to review, technical debt, breaking

#2718 Add actions slot to dashboard widget item
  src/components/DashboardWidgetItem/DashboardWidgetItem.vue
Labels: enhancement, 3. to review, feature: dashboard

#2719 Add title section to settingsdialog
  src/components/AppSettingsDialog/AppSettingsDialog.vue
  src/components/AppSettingsSection/AppSettingsSection.vue
Labels: enhancement, 3. to review, feature: settings

#2721 Fix trailing comma
  src/components/Popover/Popover.vue
Labels: 3. to review

#2576 Increase padding of ColorPicker
  src/components/ColorPicker/ColorPicker.vue
Labels: bug, 3. to review, feature: colorpicker

#2577 Add ColorPicker feedback on selection
  src/components/ColorPicker/ColorPicker.vue
Labels: enhancement, 3. to review, feature: colorpicker

#2720 Add icon slot to AppNavigationNew component
  src/components/AppNavigationNew/AppNavigationNew.vue
Labels: 3. to review, feature: app-navigation, breaking

#2703 Change placeholder name to be more clear
  l10n/messages.pot
  src/components/DashboardWidget/DashboardWidget.vue
Labels: 3. to review, papercut, feature: dashboard

#2738 Move close button within modal boundaries
  l10n/messages.pot
  src/components/Modal/Modal.vue
Labels: bug, enhancement, 3. to review, feature: modal, breaking

#1946 Properly align appnavigationtoggle
  src/assets/variables.scss
  src/components/AppContent/AppContent.vue
  src/components/AppNavigationToggle/AppNavigationToggle.vue
Labels: bug, 3. to review, design, technical debt, breaking

#2690 Updating command-rebase.yml workflow from template
  .github/workflows/command-rebase.yml
Labels: dependencies

#2630 show the action buttons on top of the modal always by default
  src/components/Modal/Modal.vue
Labels: enhancement, 3. to review, design, accessibility, breaking

#2753 Add padding 8px to DashboardWidgetItem actions
  src/components/DashboardWidgetItem/DashboardWidgetItem.vue
Labels: 3. to review, papercut, design

#2747 make the sidebare full-width on small screens
  src/components/AppNavigation/AppNavigation.vue
  src/components/AppSidebar/AppSidebar.vue
Labels: enhancement, 4. to release

#2722 Add md icon slot to Avatar component
  src/components/Avatar/Avatar.vue
Labels: 3. to review, feature: avatar

#2769 Use button component for InputConfirmCancel
  src/components/AppNavigationItem/InputConfirmCancel.vue
Labels: 3. to review, feature: app-navigation, feature: button

#2776 Improve CheckboxRadioSwitch accessibility
  src/components/CheckboxRadioSwitch/CheckboxRadioSwitch.vue
Labels: enhancement, 3. to review, accessibility, feature: checkbox-radio-switch

#2774 Use loading icon everywhere
  src/components/AppNavigationItem/AppNavigationItem.vue
  src/components/AppNavigationNewItem/AppNavigationNewItem.vue
  src/components/AppSidebar/AppSidebar.vue
  src/components/Avatar/Avatar.vue
  src/components/CheckboxRadioSwitch/CheckboxRadioSwitch.vue
  src/components/Multiselect/Multiselect.vue
  src/components/Multiselect/index.scss
Labels: 3. to review, feature: app-navigation, design, feature: multiselect, feature: avatar, feature: app-sidebar, feature: checkbox-radio-switch

#2784 Use button-vue and chevron for appnavigation collapse
  l10n/messages.pot
  src/components/AppNavigationItem/AppNavigationIconCollapsible.vue
Labels: 3. to review, feature: app-navigation

#2757 Alternative style for CheckboxRadioSwitch (radio type)
  src/components/CheckboxRadioSwitch/CheckboxRadioSwitch.vue
Labels: enhancement, 3. to review, design, feature: checkbox-radio-switch
