Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2022-01, with the labels that each got.

#2436 Show menu title for single Action
  src/components/Actions/Actions.vue
Labels: 3. to review, feature: actions, feature: breadcrumbs

#2431 Set sidebar tab content height to be 100 percent
  src/components/AppSidebarTab/AppSidebarTab.vue
Labels: 3. to review, feature: app-sidebar

#2435 Fix md icon position for Actions with title
  src/components/Actions/Actions.vue
Labels: bug, 3. to review, feature: actions, backport-request

#2444 Implement showing global crumb actions
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: enhancement, 3. to review, feature: breadcrumbs

#2450 Add variable for crumb class name
  src/components/Breadcrumbs/Breadcrumbs.vue
Labels: 3. to review, feature: breadcrumbs, technical debt

#2462 Updating dependabot-approve-merge.yml workflow from template
  .github/workflows/dependabot-approve-merge.yml
Labels: dependencies
