Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2022-05, with the labels that each got.

#2654 add handle keyboard focus for accessibility
  package.json
  src/components/Modal/Modal.vue
Labels: enhancement, 4. to release, feature: modal, accessibility

#2668 Merge Dashboard components into repository
  l10n/messages.pot
  src/components/DashboardWidget/DashboardWidget.vue
  src/components/DashboardWidget/index.js
  src/components/DashboardWidgetItem/DashboardWidgetItem.vue
  src/components/DashboardWidgetItem/index.js
  src/components/index.js
  styleguide.config.js
Labels: enhancement, 3. to review

#2552 Make emojis selectable by tab
  src/components/EmojiPicker/EmojiPicker.vue
Labels: enhancement, 2. developing, accessibility, feature: emoji picker

#2642 Update the css for the datepicker
  src/components/DatetimePicker/DatetimePicker.vue
  src/components/DatetimePicker/index.scss
Labels: 3. to review, feature: datepicker, design
