Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2023-11, with the labels that each got.

#4726 [next] feat(NcListItem): migrate to vue 3
  src/components/NcListItem/NcListItem.vue
  src/components/NcVNodes/NcVNodes.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: list-item, vue 3

#4729 Made description dynamic on related resources
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
Labels: 3. to review

#4733 fix(NcSelect): Ensure selected option has enough contrast when the menu is opened
  src/components/NcSelect/NcSelect.vue
Labels: bug, 4. to release, accessibility

#4735 fix(NcEmptyContent): Fix regression that changed the color of the description text
  src/components/NcEmptyContent/NcEmptyContent.vue
Labels: 4. to release, regression, design, feature: emptycontent

#4734 fix(NcTimezonePicker): Allow to set ID of inner select component
  src/components/NcTimezonePicker/NcTimezonePicker.vue
Labels: enhancement, 4. to release, feature: select

#3890 Allow preventing link insertion in RichContentEditable
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: enhancement, 3. to review, feature: rich-contenteditable, feature: richtext

#4710 fix(NcAppContent): Set normal scrollbar width on resizeable NcAppContentList
  src/components/NcAppContent/NcAppContent.vue
Labels: 3. to review, design, accessibility, feature: app-content-list

#4740 [next] fix(NcAvatar): don't show `false` for disabled tooltip
  src/components/NcAvatar/NcAvatar.vue
Labels: bug, 3. to review, feature: avatar, vue 3

#4741 [next] feat(NcBreadcrumbs): migrate to vue 3
  .eslintrc.js
  src/components/NcBreadcrumb/NcBreadcrumb.vue
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: breadcrumbs, vue 3

#4737 fix(NcAvatar): Improve initials generation to filter out special characters
  src/components/NcAvatar/NcAvatar.vue
  tests/unit/components/NcAvatar/NcAvatar.spec.ts
  tsconfig.json
Labels: bug, 3. to review, feature: avatar

#4747 [stable7] fix(NcAppContent): Set normal scrollbar width on resizeable NcAppContentList
  src/components/NcAppContent/NcAppContent.vue
Labels: bug, 3. to review, design, accessibility, feature: app-content-list

#4748 fix(NcAvatar): remove alt attr from span[role=img]
  src/components/NcAvatar/NcAvatar.vue
Labels: bug, feature: avatar, accessibility

#4736 fix(NcSidebarTab): Ensure there is an `aria-label` if the `aria-labelledby` element does not exist
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
Labels: bug, 3. to review, feature: app-sidebar, accessibility

#4730 add scoped to all ncappnavigation components
  src/assets/NcAppNavigationItem.scss
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationItem/NcInputConfirmCancel.vue
  src/components/NcAppNavigationNew/NcAppNavigationNew.vue
  src/components/NcAppNavigationNewItem/NcAppNavigationNewItem.vue
Labels: bug, 3. to review

#4699 Create outline for `focus-within` on RadioSwitch
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: 3. to review

#4751 fix(NcSelect): Update `@nextcloud/vue-select` and add translated options for `aria-labels`
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, feature: select, dependencies, l10n

#4754 8.0.0-beta.10
  CHANGELOG.md
Labels: 3. to review

#4743 fix: NcUserBubble properties
  src/components/NcUserBubble/NcUserBubble.vue
  src/globals.d.ts
Labels: bug, 3. to review, feature: userbubble

#4756 fix(NcUserBubble): only forward necessary props
  src/components/NcUserBubble/NcUserBubble.vue
Labels: bug, 3. to review, feature: userbubble

#4728 Change styles for focused Select
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review

#4764 v7.12.7
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#4745 [NcAppSettingsDialog] Allow to add icons to the navigation sections
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  src/components/NcAppSettingsSection/NcAppSettingsSection.vue
Labels: enhancement, 3. to review, feature: settings

#4367 NcButton: Allow to format text of button
  src/components/NcButton/NcButton.vue
Labels: enhancement, 3. to review, feature: button

#4718 fix(NcInputField): Bring input field height to 44px and fixes its focus feedback
  src/components/NcInputField/NcInputField.vue
  src/components/NcSelect/NcSelect.vue
Labels: bug, 3. to review, accessibility

#4762 fix(NcTimezonePicker): Add correct `aria-label`
  l10n/messages.pot
  src/components/NcTimezonePicker/NcTimezonePicker.vue
Labels: bug, 3. to review, feature: select, accessibility

#4770 Fix input field trailing button alignment
  src/components/NcInputField/NcInputField.vue
Labels: bug, 4. to release

#4771 fix(NcSelectTags): Allow object type value
  src/components/NcSelectTags/NcSelectTags.vue
Labels: bug, 3. to review, feature: select

#4776 fix(NcAppNavigation): Ensure `--app-navigation-padding` is set also on app-content
  src/components/NcAppNavigation/NcAppNavigation.vue
Labels: bug, 3. to review, regression, feature: app-content

#4633 fix(NcAppNavigation): add focus trap on mobile and improve a11y
  src/components/NcAppNavigation/NcAppNavigation.vue
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
Labels: bug, 3. to review, feature: app-navigation, accessibility

#4767 fix(NcAppNavifation): small screen support
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
Labels: bug, 3. to review, feature: app-navigation, accessibility

#4775 feat(NcActions): focus the first action again if no action have a focus after render
  src/components/NcActions/NcActions.vue
Labels: 3. to review, feature: actions, accessibility

#4777 fix: Do not depend on uncompiled vue files as dependencies
  package-lock.json
  package.json
  vite.config.mts
Labels: bug, 3. to review

#4765 chore: Prepare release of stable version 8.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#4778 fix(NcModal): Adjust `aria-label` of close button
  l10n/messages.pot
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review, accessibility

#4781 fix(NcCounterBubble): Fix color of highlighted/outlined items when no…
  src/components/NcCounterBubble/NcCounterBubble.vue
Labels: bug, 3. to review, regression, feature: list-item

#4790 fix(NcTimezonePicker): add missing `t` method
  src/components/NcTimezonePicker/NcTimezonePicker.vue
Labels: bug, 3. to review, feature: timezone-picker

#4783 fix(docs): Add samples for counters so they are never forgotten on ad…
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: list-item

#4791 fix(NcCheckboxRadioSwitch): Fix contrast of Radio switches using butt…
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, feature: app-sidebar, accessibility, feature: checkbox-radio-switch

#4750 [next] chore(master): merge `master` into `next`
  CHANGELOG.md
  l10n/de_DE.pot
  l10n/messages.pot
  src/assets/NcAppNavigationItem.scss
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationItem/NcInputConfirmCancel.vue
  src/components/NcAppNavigationNew/NcAppNavigationNew.vue
  src/components/NcAppNavigationNewItem/NcAppNavigationNewItem.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcSelect/NcSelect.vue
  src/components/NcUserBubble/NcUserBubble.vue
  src/globals.d.ts
  tests/unit/components/NcAvatar/NcAvatar.spec.ts
  tsconfig.json
Labels: 3. to review, vue 3

#4800 [next] feat(NcRelatedResource*): bring back
  .eslintrc.js
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: related resources panel, vue 3

#4739 [next] feat(NcUserBubble): migrate to vue 3
  .eslintrc.js
  src/components/NcUserBubble/NcUserBubble.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: userbubble, vue 3

#4793 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#4805 fix(NcTextField): Align default label for trailing button with used icon
  l10n/messages.pot
  src/components/NcTextField/NcTextField.vue
Labels: bug, 3. to review, feature: input-field

#4817 fix single-select design
  src/components/NcSelect/NcSelect.vue
Labels: bug, 3. to review, regression, design

#4815 Fix tabs appearance
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
Labels: enhancement, 3. to review

#4819 chore: Prepare 8.1.0 release
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#4823 fix(NcAppSidebarTabs): override checkbox radio switch only in navigation
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
Labels: bug, 3. to review, regression, feature: app-sidebar

#4829 fix: export composables
  src/composables/index.js
  src/composables/useIsFullscreen/index.js
  src/index.js
Labels: 3. to review

#4832 Improve relative time handling
  src/components/NcDateTime/NcDateTime.vue
  tests/unit/components/NcDateTime/NcDateTime.spec.js
Labels: bug, 3. to review, accessibility

#4831 [next] feat(NcContent): migrate to vue 3
  .eslintrc.js
  src/components/NcAppContent/NcAppContent.vue
  src/components/NcAppContent/NcAppDetailsToggle.vue
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationSettings/NcAppNavigationSettings.vue
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  src/components/NcAppSettingsSection/NcAppSettingsSection.vue
  src/components/NcContent/NcContent.vue
  src/components/index.js
  styleguide.config.js
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
  vite.config.mts
Labels: 3. to review, feature: app-navigation, feature: app-content, vue 3

#4830 [next] chore(mixins): remove deprecated mixins
  src/composables/useIsFullscreen/index.js
  src/composables/useIsMobile/index.js
  src/mixins/index.js
  src/mixins/isFullscreen/index.js
  src/mixins/isMobile/index.js
Labels: 3. to review, breaking, vue 3

#4827 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#4837 fix(cypress): delete unused files
  cypress/snapshots/base/visual/AppNavigationItem.cy.ts/NcAppNavigationItem -- With router link -- has primary button styling on active route with editing=true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_true-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_true-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_true-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_true-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_true-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_true-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_true-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_true-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_true-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_true-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_true-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_true-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_true-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_true-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_true-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_true-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_true-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_true-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_true-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_true-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_true-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_true-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_true-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar-compact.cy.js/NcAppSidebar.vue in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_true-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_false-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_false-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_false-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_false-compact_false-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_false-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_false-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_false-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_null-compact_false-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_false-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_false-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_false-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_null-starred_true-compact_false-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_false-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_false-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_false-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_false-compact_false-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_false-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_false-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_false-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_null-compact_false-header_none-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_false-header_image-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_false-header_image-secondary_none-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_false-header_none-secondary_button-editable_true (failed).png
  cypress/snapshots/base/visual/NcAppSidebar/NcAppSidebar.cy.js/NcAppSidebar.vue not in compact mode -- Renders NcAppSidebar.vue-subname_true-starred_true-compact_false-header_none-secondary_none-editable_true (failed).png
Labels: 3. to review

#4835 fix(NcActions): fix role and aria attributes
  src/components/NcActionButton/NcActionButton.vue
  src/components/NcActionButtonGroup/NcActionButtonGroup.vue
  src/components/NcActionCaption/NcActionCaption.vue
  src/components/NcActionCheckbox/NcActionCheckbox.vue
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcActionLink/NcActionLink.vue
  src/components/NcActionRadio/NcActionRadio.vue
  src/components/NcActionRouter/NcActionRouter.vue
  src/components/NcActionSeparator/NcActionSeparator.vue
  src/components/NcActionText/NcActionText.vue
  src/components/NcActions/NcActions.vue
  src/components/NcButton/NcButton.vue
  src/mixins/actionText.js
Labels: bug, 3. to review, feature: actions, accessibility

#4798 fix(NcAppSettingsDialog): `unregisterSection` should remove the section instead of remove all other
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  tests/unit/components/NcAppSettingsDialog/NcAppSettingsDialog.spec.ts
Labels: bug, 4. to release, feature: settings

#4840 [next] fix(NcCheckboxRadioSwitch): fix v-on with no argument expects an object value
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 4. to release, feature: checkbox-radio-switch, vue 3

#4843 fix(NcRichcontenteditable): remove placeholder attr
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  tests/unit/components/NcRichContenteditable/NcRichContenteditable.spec.js
Labels: bug, 3. to review, accessibility, feature: rich-contenteditable

#4845 fix(NcDateTime): Also use months for relative date time
  src/components/NcDateTime/NcDateTime.vue
  tests/unit/components/NcDateTime/NcDateTime.spec.js
Labels: bug, 3. to review, accessibility

#4841 fix(NcActions): adjust keyboard navigation
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#4760 fix checkbox sizing
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
Labels: bug, 3. to review, feature: checkbox-radio-switch

#4834 Use the correct text color in NcAppSidebarTabs.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
Labels: bug, 3. to review, regression

#4846 fix(NcActions): only search for items to focus on in the current menu
  src/components/NcActions/NcActions.vue
Labels: bug, feature: actions, regression

#4836 Create scrollable content via `min-height` over sidebar and settings dialog on small screens
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
Labels: 3. to review

#4848 Correct styles for focused NcTextArea
  src/components/NcTextArea/NcTextArea.vue
Labels: 3. to review

#4849 Revert "Use the correct text color in NcAppSidebarTabs.vue"
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
Labels: 3. to review, regression

#4852 chore: Release 8.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#4855 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#4862 fix(NcCheckboxContent): Make sure text can wrap
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
Labels: bug, 4. to release, accessibility

#4864 fix(NcAppNavigation): make toggle button not the first element for focus-trap
  src/components/NcAppNavigation/NcAppNavigation.vue
Labels: bug, 3. to review, feature: app-navigation

#4869 fix(NcAppNavigation): closed on mobile initially
  src/components/NcAppNavigation/NcAppNavigation.vue
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
Labels: bug, feature: app-navigation

#4865 fix(NcAppSettingsDialog): Remove navigation instead of hiding and fix styles
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  src/components/NcDialog/NcDialog.vue
Labels: bug, design, feature: settings

#4875 Remove server styles from action menu
  src/components/NcActionButton/NcActionButton.vue
Labels: bug, 3. to review

#4833 [next] feat(NcAppSidebar*): migrate to vue 3
  .eslintrc.js
  cypress.config.ts
  cypress/visual/NcAppSidebar/NcAppSidebarMixin.js
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
  src/components/index.js
  styleguide.config.js
  tests/unit/components/NcAppSidebar/NcAppSidebarTabs.spec.js
  vite.config.mts
Labels: 3. to review, feature: app-sidebar, vue 3

#4876 feat(NcInputField): add optional pill form appearance to the component
  src/components/NcInputField/NcInputField.vue
Labels: enhancement, 3. to review, feature: input-field

#4878 [next] chore(master): merge `master` into `next`
  CHANGELOG.md
  l10n/ar.pot
  l10n/cs_CZ.pot
  l10n/de_DE.pot
  l10n/es.pot
  l10n/fr.pot
  l10n/gl.pot
  l10n/id.pot
  l10n/is.pot
  l10n/pl.pot
  l10n/ro.pot
  l10n/sv.pot
  l10n/tr.pot
  package-lock.json
  src/components/NcActionButton/NcActionButton.vue
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcDialog/NcDialog.vue
  styleguide/assets/server.css
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
Labels: 3. to review, vue 3

#4804 [next] fix(NcActions): find actions deeper nested
  .eslintrc.js
  src/components/NcActions/NcActions.vue
  src/components/NcDashboardWidget/NcDashboardWidget.vue
  src/components/index.js
  styleguide.config.js
Labels: bug, 3. to review, feature: actions, feature: dashboard, vue 3

#4882 fix(NcCheckboxRadioSwitch): visually hidden input position
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 4. to release, accessibility, feature: checkbox-radio-switch

#4881 fix(NcDialog): Add slighly more padding on the bottom and fix example button order
  src/components/NcDialog/NcDialog.vue
Labels: bug, 3. to review, feature: dialog

#4888 fix(NcAppNavigation): replace custom `v-tooltip` with native `title`
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
Labels: 3. to review, feature: app-navigation, accessibility

#4885 fix(NcAppNavigationCaption): Make color `main-text` for accessibility
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
Labels: bug, 3. to review, feature: app-navigation, accessibility

#4887 fix(NcActions): typo in aria-haspopup
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#4898 chore: Prepare new release 8.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review
