Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2023-10, with the labels that each got.

#4563 chore(vue3): Migrate NcEmojiPicker
  jest.config.js
  src/components/NcEmojiPicker/NcEmojiPicker.vue
  src/components/index.js
  styleguide.config.js
Labels: 2. developing, feature: emoji picker, vue 3

#4542 chore(vue3): Migrate NcEmptyContent
  src/components/NcEmptyContent/NcEmptyContent.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: emptycontent, vue 3

#4594 fix(NcSettingsSection): remove incorrect role=note on doc link
  src/components/NcSettingsSection/NcSettingsSection.vue
Labels: bug, 3. to review, accessibility, backport-request, feature: settings

#4595 fix(utils): Make `isMobileState` PURE so it can be treeshaken if not used
  src/utils/IsMobileState.js
Labels: 3. to review

#4596 chore(deps): Update `@nextcloud/vite-config` as a workaround for minify issue
  package-lock.json
  package.json
Labels: bug, 3. to review, dependencies

#4555 allow type property for NcAppNavigationNew
  src/components/NcAppNavigationNew/NcAppNavigationNew.vue
Labels: bug, 3. to review, feature: app-navigation

#4584 fix(EmptyContent): ensure proper custom icon size
  src/components/NcEmptyContent/NcEmptyContent.vue
Labels: bug, 4. to release, feature: emptycontent

#3278 Properly align AppNavigationToggle with first navigation item
  src/assets/variables.scss
  src/components/NcAppContent/NcAppContent.vue
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
Labels: 3. to review, feature: app-navigation, design

#4602 fix: Remove unused id from trigger
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: bug, 4. to release

#4606 fix(NcSelect): make id truly uniqual
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, feature: select, accessibility

#4607 feat(NcIconSvgWrapper)!: remove ID from svg
  src/components/NcIconSvgWrapper/NcIconSvgWrapper.vue
  tests/unit/components/NcIconSvgWrapper/NcIconSvgWrapper.spec.js
Labels: 3. to review, accessibility, breaking

#4540 fix: handling of empty values in NcDateTimePickerNative
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
Labels: bug, 4. to release, feature: datepicker

#4609 fix(NcIconSvgWrapper): remove new keepId prop
  src/components/NcIconSvgWrapper/NcIconSvgWrapper.vue
  tests/unit/components/NcIconSvgWrapper/NcIconSvgWrapper.spec.js
Labels: 3. to review, feature: icon-svg-wrapper

#4578 fix(NcInputField): Adjust styling of the internal label
  src/components/NcInputField/NcInputField.vue
Labels: bug, 3. to review, design, feature: input-field

#4610 [stable7] fix: handling of empty values in NcDateTimePickerNative
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
Labels: bug, 3. to review, feature: datepicker

#4599 [next] feat(vitest): migrate from `jest` to `vitest`
  jest.config.js
  package-lock.json
  package.json
  tests/.eslintrc.js
  tests/OC.js
  tests/setup.js
  tests/unit/components/NcActions/NcActions.spec.js
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
  tests/unit/components/NcAppSidebar/NcAppSidebarTabs.spec.js
  tests/unit/components/NcButton/button.spec.js
  tests/unit/components/NcDateTime/NcDateTime.spec.js
  tests/unit/components/NcHighlight/NcHighlight.spec.js
  tests/unit/components/NcModal/modal.spec.js
  tests/unit/components/NcRichContenteditable/NcRichContenteditable.spec.js
  tests/unit/components/NcRichText/NcRichText.spec.js
  tests/unit/functions/usernameToColor/__snapshots__/usernameToColor.spec.js.snap
  tests/unit/functions/usernameToColor/usernameToColor.spec.js
  tests/unit/plugin.spec.ts
  tests/unit/utils/FindRanges.spec.js
  tests/unit/utils/isSlotPopulated.spec.js
  vite.config.mts
Labels: 3. to review, feature: testing, dependencies, configuration, vue 3

#4613 fix: remove unused vue-template-compiler
  package-lock.json
  package.json
Labels: 3. to review, dependencies, vue 3

#4615 chore: Bump @nextcloud/vite-config to fix cjs require default
  package-lock.json
  package.json
Labels: 3. to review

#4616 v8.0.0-beta.8
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#4587 chore(vue3): Migrate `NcSelect*` and related components
  package-lock.json
  package.json
  src/components/NcListItemIcon/NcListItemIcon.vue
  src/components/NcSelect/NcSelect.vue
  src/components/NcSelectTags/NcSelectTags.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
  src/components/index.js
  src/mixins/index.js
  styleguide.config.js
Labels: 3. to review, feature: select, feature: list-item-icon, feature: settings, vue 3

#4618 fix: invert datepicker buttons on dark mode
  src/components/NcDateTimePicker/chevron-double-left-light.svg
  src/components/NcDateTimePicker/chevron-double-right-light.svg
  src/components/NcDateTimePicker/chevron-left-light.svg
  src/components/NcDateTimePicker/chevron-right-light.svg
  src/components/NcDateTimePicker/index.scss
Labels: bug, 3. to review, feature: datepicker, design

#4619 [next] feat(cypress): use vite instead of webpack
  cypress.config.ts
Labels: help wanted, 3. to review, configuration, vue 3

#4630 fix(eslint): run eslint on migrated files
  .eslintrc.js
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcEmojiPicker/NcEmojiPicker.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
Labels: bug, 3. to review, vue 3

#4628 fix(NcListItem): adjust paddings and hover styles for list items
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, design, feature: list-item

#4632 fix(NcActionInput): Set default trailing button label
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcPasswordField/NcPasswordField.vue
Labels: bug, 4. to release, feature: actions, feature: input-field

#4635 [stable7] fix: invert datepicker buttons on dark mode
  src/components/NcDatetimePicker/chevron-double-left-light.svg
  src/components/NcDatetimePicker/chevron-double-right-light.svg
  src/components/NcDatetimePicker/chevron-left-light.svg
  src/components/NcDatetimePicker/chevron-right-light.svg
  src/components/NcDatetimePicker/index.scss
Labels: bug, feature: datepicker

#4634 [stable7] fix(NcActionInput): Set default trailing button label
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcPasswordField/NcPasswordField.vue
Labels: 3. to review

#4631 [next] feat(NcDateTimePicker): migrate to vue 3
  .eslintrc.js
  package-lock.json
  package.json
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcDateTimePicker/index.js
  src/components/NcDateTimePicker/index.scss
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
  src/components/NcDateTimePickerNative/index.js
  src/components/NcTimezonePicker/NcTimezonePicker.vue
  src/components/index.js
  src/utils/ScopeComponent.js
  styleguide.config.js
Labels: 3. to review, feature: datepicker, vue 3

#4647 [next] feat(Nc*Field): migrate from `value` to `model-value`
  src/components/NcEmojiPicker/NcEmojiPicker.vue
  src/components/NcInputField/NcInputField.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcTextField/NcTextField.vue
Labels: 3. to review, feature: input-field, vue 3

#4643 feat(NcIconSvgWrapper): allow to render raw svg paths
  package-lock.json
  package.json
  src/components/NcIconSvgWrapper/NcIconSvgWrapper.vue
Labels: enhancement, 3. to review, feature: icon-svg-wrapper

#4650 fix(NcAppNavigationItem): Ensure primary styling when the item is active
  cypress/snapshots/base/AppNavigationItem.cy.ts/NcAppNavigationItem-primary-on-active-route-menu-active.png
  cypress/snapshots/base/AppNavigationItem.cy.ts/NcAppNavigationItem-primary-on-active-route.png
  cypress/snapshots/base/AppNavigationItem.cy.ts/NcAppNavigationItem-tertiary-non-active-route.png
  cypress/support/component.ts
  cypress/visual/AppNavigationItem.cy.ts
  package-lock.json
  package.json
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationItem/NcInputConfirmCancel.vue
Labels: bug, 3. to review, feature: app-navigation

#4654 fix: missing trailing comma
  src/components/NcRichText/NcRichText.vue
Labels: 3. to review, feature: richtext

#4652 [stable7] fix(l10n): Update translations with current master translations
  l10n/ar.pot
  l10n/cs_CZ.pot
  l10n/de.pot
  l10n/de_DE.pot
  l10n/es.pot
  l10n/fi.pot
  l10n/hu.pot
  l10n/ja.pot
  l10n/nb.pot
  l10n/sk.pot
  l10n/tr.pot
  l10n/uk.pot
  l10n/zh_TW.pot
Labels: bug, 3. to review, l10n

#4645 fix(NcModal): Some modal improvments
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review, feature: modal

#4550 feat(NcDialog): New component (moved from `@nextcloud/dialogs`)
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcDialog/index.js
  src/components/NcDialogButton/NcDialogButton.vue
  src/components/NcDialogButton/index.js
  src/components/index.js
  styleguide.config.js
Labels: enhancement, 3. to review, feature: dialog

#4648 fix(NcActions): Various accessibility improvements
  src/assets/action.scss
  src/components/NcActionButton/NcActionButton.vue
  src/components/NcActionLink/NcActionLink.vue
  src/components/NcActionRouter/NcActionRouter.vue
  src/components/NcActionText/NcActionText.vue
  src/components/NcActions/NcActions.vue
  src/mixins/actionText.js
Labels: bug, 3. to review, feature: actions, accessibility

#4653 feat(NcSelect): Allow to filter users by email notation
  cypress/component/NcSelect.cy.ts
  src/components/NcListItemIcon/NcListItemIcon.vue
  src/components/NcSelect/NcSelect.vue
  tests/unit/components/NcListItemIcon/list-item-icon.spec.ts
Labels: enhancement, 4. to release, feature: select

#4640 Fix NcBreadcrumbs styles to wrap buttons
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
Labels: 3. to review

#4672 fix(NcDashboardWidgetItem): do not assign href="" with empty link
  src/components/NcDashboardWidgetItem/NcDashboardWidgetItem.vue
Labels: bug, 3. to review, accessibility, feature: dashboard

#4673 fix(NcActions): do not pass popoverBaseClass as an attr to NcPopover
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#4671 fix(NcActions): Allow to set attributes to inline actions
  src/components/NcActions/NcActions.vue
  tests/unit/components/NcActions/NcActions.spec.ts
Labels: bug, 3. to review, feature: actions

#4663 enh(NcAppSidebarTabs): Make tab navigation accessible
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  tests/unit/components/NcAppSidebar/NcAppSidebarTabs.spec.js
Labels: bug, enhancement, 3. to review, feature: app-sidebar, accessibility, feature: checkbox-radio-switch

#4674 fix(NcAvatar): make it a span phrasing element
  src/components/NcAvatar/NcAvatar.vue
Labels: bug, 4. to release, feature: avatar, accessibility

#4662 Add the resource type on RelatedResourcesPanel
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
Labels: 3. to review

#4677 fix: Avoid closing all modals on escape if multiple are present
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review

#4678 fix: If a aria-selected button is present we focus on this one instead of the first entry
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review

#4679 fix(NcCheckboxRadioSwitch): Restore wrapper element prop
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 4. to release, feature: checkbox-radio-switch

#4666 fix(Nc*Field): do not pass all props to InputField BY filtering $props
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcTextField/NcTextField.vue
Labels: bug, accessibility, feature: input-field

#4682 fix(NcDialog): NcModal registration
  src/components/NcDialog/NcDialog.vue
Labels: bug, 3. to review

#4605 feat(NcTextArea): implement new textarea component
  src/components/NcTextArea/NcTextArea.vue
  src/components/NcTextArea/index.js
  src/components/index.js
  styleguide.config.js
Labels: enhancement, 3. to review

#4686 fix: remove empty attributes values
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcModal/NcModal.vue
  src/components/NcNoteCard/NcNoteCard.vue
  src/components/NcUserBubble/NcUserBubble.vue
Labels: bug, 3. to review, feature: app-navigation, accessibility, feature: note-card

#4685 fix(dialog): fix component registration
  src/components/NcDialog/NcDialog.vue
Labels: bug, 3. to review, feature: dialog

#4680 v8.0.0-beta.9
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release

#4691 fix(NcCheckboxRadioSwitch): fix circular import
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, feature: checkbox-radio-switch

#4690 fix(NcCheckboxRadioSwitch): forward indeterminate prop
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, regression, feature: checkbox-radio-switch

#4695 [next] fix(NcListItemIcon): correctly use default slot in examples
  src/components/NcListItemIcon/NcListItemIcon.vue
Labels: bug, 3. to review, feature: documentation, vue 3

#4688 [next] chore(master) merge `master` into `next`
  .eslintrc.js
  CHANGELOG.md
  cypress/component/NcSelect.cy.ts
  package-lock.json
  package.json
  src/components/NcActions/NcActions.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcDashboardWidgetItem/NcDashboardWidgetItem.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcListItemIcon/NcListItemIcon.vue
  src/components/NcModal/NcModal.vue
  src/components/NcNoteCard/NcNoteCard.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
  src/components/NcSelect/NcSelect.vue
  src/components/NcTextArea/NcTextArea.vue
  src/components/NcTextArea/index.js
  src/components/NcTextField/NcTextField.vue
  src/components/NcUserBubble/NcUserBubble.vue
  src/components/index.js
  styleguide.config.js
  tests/unit/components/NcActions/NcActions.spec.ts
  tests/unit/components/NcAppSidebar/NcAppSidebarTabs.spec.js
  tests/unit/components/NcListItemIcon/list-item-icon.spec.ts
Labels: 3. to review, dependencies, vue 3

#4696 [next] feat(NcTextArea): migrate to vue 3
  .eslintrc.js
  src/components/NcTextArea/NcTextArea.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: input-field, vue 3

#4702 Change heading in EmptyContent to `span`
  src/components/NcEmptyContent/NcEmptyContent.vue
Labels: 3. to review

#4703 Add header prop to NcRelatedResourcesPanel
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
Labels: 3. to review, design

#4705 fix(NcRelatedResourcesPanel): t is not defined
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
Labels: bug, feature: documentation, feature: related resources panel

#4708 [next] chore(deps): update dependencies
  package-lock.json
  package.json
Labels: 3. to review, dependencies, vue 3

#4711 [next] chore(master): merge `master` into `next`
  .github/workflows/command-l10n-update.yml
  .github/workflows/cypress.yml
  .github/workflows/l10n.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-stylelint.yml
  .github/workflows/node.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-test.yml
  src/components/NcEmptyContent/NcEmptyContent.vue
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
Labels: 3. to review, dependencies, vue 3

#4713 fix(NcTextArea): add missing trailing comma
  src/components/NcTextArea/NcTextArea.vue
Labels: 4. to release

#4715 fix(NcAppNavigationItem): Do not include `aria-expanded` attribute if there are no children
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
Labels: bug, 3. to review, feature: app-navigation

#4646 [next] feat(NcActions*): migrate to vue 3
  .eslintrc.js
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcActionRouter/NcActionRouter.vue
  src/components/NcActions/NcActions.vue
  src/components/index.js
  src/mixins/actionGlobal.js
  styleguide.config.js
  tests/unit/components/NcActions/NcActions.spec.ts
  vite.config.mts
Labels: 3. to review, feature: actions, vue 3

#4725 fix(NcDialog): register components in NcDialogButton
  src/components/NcDialogButton/NcDialogButton.vue
Labels: bug, 3. to review, feature: dialog

#4722 [next] feat(NcModal): migrate to vue 3
  .eslintrc.js
  cypress.config.ts
  cypress/component/modal.cy.ts
  src/components/NcModal/NcModal.vue
  styleguide.config.js
  vite.config.mts
Labels: 3. to review, feature: modal, vue 3

#4727 [next] chore(master): merge `master` into `next`
  l10n/fr.pot
  l10n/gl.pot
  l10n/nl.pot
  l10n/ru.pot
  package-lock.json
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcDialogButton/NcDialogButton.vue
Labels: 3. to review, dependencies, vue 3

#4724 feat(NcActionButton): support menu styling
  src/assets/action.scss
  src/components/NcActionButton/NcActionButton.vue
Labels: enhancement, 4. to release, feature: actions, regression

#4707 fix(NcActions): Detect navigation menu links correctly
  src/components/NcActions/NcActions.vue
Labels: bug, 4. to release, feature: actions, accessibility

#4719 [next] feat(NcAvatar): migrate to vue 3
  .eslintrc.js
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcListItemIcon/NcListItemIcon.vue
  src/components/index.js
  styleguide.config.js
  tests/unit/components/NcAvatar/NcAvatar.spec.ts
  vite.config.mts
Labels: 4. to release, feature: avatar, vue 3

#4731 [next] feat(NcDialog*): migrate to vue 3
  src/components/NcDialog/NcDialog.vue
  src/components/index.js
  styleguide.config.js
Labels: 4. to release, feature: dialog, vue 3

#4732 [next] feat(NcHeaderMenu): migrate to vue 3
  .eslintrc.js
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, vue 3
