Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2023-03, with the labels that each got.

#3837 `NcRichContentEditable`: Emit correct rich content on paste
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: rich-contenteditable

#3841 Merge `@nextcloud/vue-richtext` into `@nextcloud/vue`
  package-lock.json
  package.json
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcReferenceList.vue
  src/components/NcRichText/NcReferencePicker/NcCustomPickerElement.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePicker.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
  src/components/NcRichText/NcReferencePicker/NcSearchResult.vue
  src/components/NcRichText/NcReferencePicker/customPickerElements.js
  src/components/NcRichText/NcReferencePicker/providerHelper.js
  src/components/NcRichText/NcReferencePicker/referencePickerModal.js
  src/components/NcRichText/NcReferencePicker/utils.js
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/autolink.js
  src/components/NcRichText/helpers.js
  src/components/NcRichText/index.js
  src/components/NcRichText/placeholder.js
  src/components/NcRichText/remarkDisableBlocks.js
  src/components/NcRichText/richtext.scss
  src/components/NcRichText/widgets.js
  src/components/index.js
  src/functions/linkPicker/index.js
  styleguide.config.js
  tests/unit/components/NcRichText/NcRichText.spec.js
Labels: 3. to review, component, dependencies, feature: rich-contenteditable, technical debt, feature: richtext

#3849 Only transform necessary packages for jest
  package.json
Labels: 3. to review, feature: richtext

#3857 Don't use deprecated v-deep
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
Labels: 3. to review, feature: richtext

#3855 Add emits event sections for `NcRichText*` components
  src/components/NcRichText/NcReferencePicker/NcCustomPickerElement.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePicker.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
Labels: 3. to review, feature: richtext

#3856 Remove empty beforeDestroy block in `NcReferencePicker`
  src/components/NcRichText/NcReferencePicker/NcReferencePicker.vue
Labels: 3. to review, feature: richtext

#3859 Remove superfluous input close icon template
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
Labels: 3. to review, feature: richtext

#3858 Translate strings in `NcRich*` components
  l10n/messages.pot
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
  src/components/NcRichText/NcReferencePicker/providerHelper.js
Labels: 3. to review, l10n, feature: richtext

#3860 Use single quotes in SCSS code
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review

#3862 Remove unused parseUrl parameter
  src/components/NcRichText/autolink.js
Labels: 3. to review, feature: richtext

#3861 Make NcLink non-functional
  src/components/NcRichText/autolink.js
Labels: 3. to review, technical debt, feature: richtext

#3775 Migrate from `router-link`'s `tag` prop to `v-slot`
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcButton/NcButton.vue
  src/components/NcListItem/NcListItem.vue
  src/components/NcVNodes/NcVNodes.vue
Labels: 3. to review, feature: app-navigation, technical debt, feature: button, feature: list-item

#3878 Fix navigate handler call
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
Labels: bug, 3. to review, feature: app-navigation

#3882 feat(NcRichText): Support icon class for smart picker integrations
  src/components/NcRichText/NcReferencePicker/NcSearchResult.vue
Labels: bug, 3. to review, regression, feature: richtext

#3888 Call the link picker "smart picker" and translate more strings
  l10n/messages.pot
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  src/components/NcRichText/NcReferencePicker/providerHelper.js
Labels: 3. to review, feature: richtext

#3896 fix: Render actions when using the composition API
  src/components/NcActions/NcActions.vue
  tests/unit/components/NcActions/NcActions.spec.js
  tests/unit/components/NcActions/TestCompositionApi.vue
Labels: bug, 3. to review, feature: actions

#3887 v7.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#3893 Replace v-click-outside with vueuse
  package-lock.json
  package.json
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationNewItem/NcAppNavigationNewItem.vue
  src/components/NcAppNavigationSettings/NcAppNavigationSettings.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/mixins/clickOutsideOptions/index.js
  src/mixins/index.js
Labels: enhancement, 3. to review, dependencies

#3852 Display related resources error message in panel
  l10n/messages.pot
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
  src/components/NcRelatedResourcesPanel/NcResource.vue
Labels: enhancement, 4. to release, feature: related resources panel

#3898 Add missing trailing comma
  src/components/NcAppNavigationSettings/NcAppNavigationSettings.vue
Labels: 3. to review

#3907 Fix missing NcVNodes import in NcListItem
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: list-item

#3876 Fix doubling attrs in `NcPopover` and improve docs
  src/components/NcPopover/NcPopover.vue
Labels: bug, 3. to review, feature: popovermenu

#3911 v7.8.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#3915 fix(NcRichContenteditable): Fix pasting XML and HTML content
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, papercut, feature: rich-contenteditable

#3917 fix(NcRichContenteditable): prevent tribute from opening on keyup
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 4. to release, feature: rich-contenteditable

#3924 fix(NcRichContenteditable): Fix tribute emoji complete interfering unexpectedly aka. 🇨🇨
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, papercut, feature: rich-contenteditable

#3923 feat(Emoji): Suggest emojis based on text smiles
  src/functions/emoji/emoji.js
Labels: bug, 3. to review, feature: emoji picker

#3922 Bring back correct href for router-link links
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: app-navigation, regression, feature: list-item

#3925 Fix styles inheritance in `NcAvatar` when being mounted
  src/components/NcAvatar/NcAvatar.vue
Labels: bug, 3. to review, feature: avatar

#3919 Add `aria-hidden` to icon of empty content
  src/components/NcEmptyContent/NcEmptyContent.vue
Labels: 3. to review

#3937 fix(NcRichContenteditable): Completely stop event propagation for keyup events
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, papercut, feature: rich-contenteditable

#3935 fix(NcRichText): Match IP addresses as links
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/helpers.js
  tests/unit/components/NcRichText/NcRichText.spec.js
Labels: bug, 3. to review, feature: richtext

#3932 Fix NcRichText style
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/placeholder.js
Labels: bug, 3. to review, regression, feature: richtext

#3891 Fix dynamic tabs registration and a11y in NcAppSidebarTabs with provide/inject
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
  tests/unit/components/NcAppSidebar/NcAppSidebarTabs.spec.js
Labels: bug, enhancement, 4. to release, feature: app-sidebar

#3938 chore(release): Bump version to 7.8.5
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#3936 fix(NcButton): ellipsis text on small width
  src/components/NcButton/NcButton.vue
Labels: bug, 3. to review, feature: button

#3931 Add `aria-hidden` to icons of different components
  src/components/NcActionButton/NcActionButton.vue
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcActionLink/NcActionLink.vue
  src/components/NcActionText/NcActionText.vue
  src/components/NcActions/NcActions.vue
  src/components/NcButton/NcButton.vue
  src/mixins/actionText.js
Labels: 3. to review

#3900 Add accessible search field to emoji picker
  l10n/messages.pot
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: 4. to release, accessibility, feature: emoji picker

#3941 enh(NcDatetimePicker): convert lang computed value to prop
  src/components/NcDatetimePicker/NcDatetimePicker.vue
Labels: enhancement, 3. to review, feature: datepicker
