Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2023-09, with the labels that each got.

#4496 fix(EmptyContent): svg max size
  src/components/NcEmptyContent/NcEmptyContent.vue
Labels: bug, 3. to review, regression, feature: emptycontent

#4499 feat: add `v8.x (Nextcloud 28)` as latest docs title
  styleguide.config.js
Labels: 3. to review

#4494 enh(NcAppNavigationCaption): Forward listeners
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
Labels: enhancement, 4. to release, feature: app-navigation, feature: actions

#4505 [stable7] feat(NcRichContenteditable) - add different output appearance in examples
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: enhancement, 4. to release, feature: documentation, feature: rich-contenteditable

#4408 fix(NcRichContenteditable): make the default placeholder short
  l10n/messages.pot
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: rich-contenteditable

#4501 Stop propagation of keyboard navigation in a number of components
  src/components/NcAppNavigationItem/NcInputConfirmCancel.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcModal/NcModal.vue
  src/components/NcPopover/NcPopover.vue
  src/components/NcSelect/NcSelect.vue
Labels: bug, feature: popovermenu, feature: app-navigation, feature: select, feature: app-sidebar, accessibility

#4506 feat(NcEmptyContent)!: make empty content centered by default instead of 20vh margin
  src/components/NcDashboardWidget/NcDashboardWidget.vue
  src/components/NcEmptyContent/NcEmptyContent.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
Labels: enhancement, 3. to review, feature: emptycontent, breaking

#4509 chore[docs]: link to docs for vue3
  styleguide.config.js
Labels: 3. to review, feature: documentation

#4511 chore(vue3): Migrate NcPopover
  .eslintrc.js
  src/components/NcPopover/NcPopover.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: popover, vue 3

#4513 chore(vue3): Migrate NcHighlight
  .eslintrc.js
  jest.config.js
  src/components/NcHighlight/NcHighlight.vue
  src/components/index.js
  styleguide.config.js
  tests/unit/components/NcHighlight/NcHighlight.spec.js
Labels: 3. to review, vue 3

#4515 chore(vue3): Migrate Focus directive, globally import Tooltip in docs
  src/directives/Focus/index.js
  src/index.js
  styleguide.config.js
  styleguide/preview.js
  webpack.config.js
Labels: 3. to review, vue 3

#4514 chore(vue3): Migrate NcDatetime
  .eslintrc.js
  src/components/NcDatetime/NcDatetime.vue
  src/components/index.js
  styleguide.config.js
  tests/unit/components/NcDatetime/NcDatetime.spec.js
Labels: 3. to review, vue 3

#4516 chore(vue3): add unit test for isSlotPopulated
  src/utils/isSlotPopulated.js
  tests/unit/utils/isSlotPopulated.spec.js
Labels: 3. to review, vue 3

#4386 Migrate build of single entry points from webpack to vite
  package-lock.json
  package.json
  styleguide.config.js
  vite.config.mts
  webpack.config.js
Labels: 3. to review, technical debt

#4487 enh(a11y): Add nav to header menu
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: enhancement, 4. to release, accessibility

#4486 fix(NcRichText) - don't strip `<tag>`-like content when parsing markdown
  cypress/component/richtext.cy.ts
  package-lock.json
  package.json
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/placeholder.js
  src/components/NcRichText/richtext.scss
Labels: bug, 3. to review, backport-request, feature: rich-contenteditable, feature: richtext

#4507 feat(docs) - add cross-examples for rich components in docs, add mention support
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcRichText.vue
Labels: 3. to review, feature: documentation, backport-request

#4527 v8.0.0-beta.6
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#4524 [vue3] Use vite for all entry points
  package-lock.json
  package.json
  styleguide.config.js
  vite.config.mts
  webpack.config.js
Labels: 3. to review, vue 3

#4526 [stable7] - backport for Rich components changes
  cypress/component/richtext.cy.ts
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/placeholder.js
  src/components/NcRichText/richtext.scss
  src/mixins/richEditor/index.js
  tests/unit/components/NcRichContenteditable/NcRichContenteditable.spec.js
  tests/unit/mixins/richEditor.spec.js
Labels: bug, 3. to review, accessibility, feature: rich-contenteditable, feature: richtext

#4532 feat(vue3): Do cheap migrations
  src/components/NcGuestContent/NcGuestContent.vue
  src/components/NcSavingIndicatorIcon/NcSavingIndicatorIcon.vue
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, vue 3

#4512 chore(vue3): Migrate Nc*Field
  .eslintrc.js
  src/components/NcInputField/NcInputField.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcTextField/NcTextField.vue
  src/components/index.js
  styleguide.config.js
Labels: 4. to release, feature: input-field, vue 3

#4531 chore(deps): Update `@nextcloud/vite-config` to fix styles included in `.mjs` files
  package-lock.json
  package.json
Labels: 3. to review, regression, dependencies

#4536 chore(pkgjson): alias dev:watch to watch
  package.json
Labels: 3. to review

#4546 fix(NcAppNavigation): Make the navigation toggle accessible again when closed
  src/components/NcAppNavigation/NcAppNavigation.vue
Labels: bug, 3. to review, feature: app-navigation, regression

#4533 feat(vue3): Migrate NcDatetimePickerNative
  src/components/NcDatetimePickerNative/NcDatetimePickerNative.vue
  src/components/NcDatetimePickerNative/index.js
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: datepicker, vue 3

#4543 chore(vue3): Nc*Field rename default to icon slot
  src/components/NcInputField/NcInputField.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcTextField/NcTextField.vue
Labels: 3. to review, feature: input-field, vue 3

#4557 fix: Replace sanitize-svg with dompurify
  package-lock.json
  package.json
  src/components/NcIconSvgWrapper/NcIconSvgWrapper.vue
Labels: bug, 3. to review, regression

#4559 fix(NcSettingsSelectGroup): Prevent circular dependency with `@nextcloud/dialogs`
  package-lock.json
  package.json
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
Labels: bug, 3. to review, feature: select, dependencies, feature: settings

#4560 chore!: Rename `Datetime` to `DateTime` in component names
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcDateTime/NcDateTime.vue
  src/components/NcDateTime/index.js
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcDateTimePicker/chevron-double-left-light.svg
  src/components/NcDateTimePicker/chevron-double-left.svg
  src/components/NcDateTimePicker/chevron-double-right-light.svg
  src/components/NcDateTimePicker/chevron-double-right.svg
  src/components/NcDateTimePicker/chevron-left-light.svg
  src/components/NcDateTimePicker/chevron-left.svg
  src/components/NcDateTimePicker/chevron-right-light.svg
  src/components/NcDateTimePicker/chevron-right.svg
  src/components/NcDateTimePicker/index.js
  src/components/NcDateTimePicker/index.scss
  src/components/index.js
  tests/unit/components/NcDateTime/NcDateTime.spec.js
Labels: 4. to release, breaking

#4558 chore(next): Merge `master` into `next`
  .github/workflows/command-l10n-update.yml
  .github/workflows/command-rebase.yml
  .github/workflows/cypress.yml
  .github/workflows/l10n.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-stylelint.yml
  .github/workflows/node.yml
  .github/workflows/npm-publish.yml
  .github/workflows/npm-test.yml
  .github/workflows/server-styling-update.yml
  CHANGELOG.md
  cypress/component/richtext.cy.ts
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
  src/components/NcAppNavigationItem/NcInputConfirmCancel.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcDashboardWidget/NcDashboardWidget.vue
  src/components/NcDateTime/NcDateTime.vue
  src/components/NcDateTime/index.js
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcDateTimePicker/chevron-double-left-light.svg
  src/components/NcDateTimePicker/chevron-double-left.svg
  src/components/NcDateTimePicker/chevron-double-right-light.svg
  src/components/NcDateTimePicker/chevron-double-right.svg
  src/components/NcDateTimePicker/chevron-left-light.svg
  src/components/NcDateTimePicker/chevron-left.svg
  src/components/NcDateTimePicker/chevron-right-light.svg
  src/components/NcDateTimePicker/chevron-right.svg
  src/components/NcDateTimePicker/index.js
  src/components/NcDateTimePicker/index.scss
  src/components/NcEmptyContent/NcEmptyContent.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcIconSvgWrapper/NcIconSvgWrapper.vue
  src/components/NcModal/NcModal.vue
  src/components/NcPopover/NcPopover.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/placeholder.js
  src/components/NcRichText/richtext.scss
  src/components/NcSelect/NcSelect.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
  src/components/index.js
  tests/unit/components/NcDateTime/NcDateTime.spec.js
Labels: 3. to review, dependencies, vue 3

#4577 fix(NcEmojiPicker): Do not set padding for the search input label
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: bug, 3. to review, feature: emoji picker

#4575 fix(NcEmojiPicker): Set type to `native` for selected emoji
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: bug, 3. to review

#4579 [stable7] fix(NcEmojiPicker): Set type to `native` for selected emoji
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: bug, 3. to review, feature: emoji picker

#4561 fix(vue3): Rename `NcDatetimePickerNative` to `NcDateTimePickerNative`
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
  src/components/NcDateTimePickerNative/index.js
  src/components/index.js
  styleguide.config.js
Labels: 3. to review, feature: datepicker, vue 3

#4564 fix(vue3): Inherit `$attrs` to `Dropdown` in `NcPopover`
  src/components/NcPopover/NcPopover.vue
Labels: bug, 3. to review, feature: popover, vue 3

#4586 fix: also export NcSettings* components
  src/components/index.js
Labels: 3. to review, feature: settings

#4588 v8.0.0-beta.7
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release
