Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2023-12, with the labels that each got.

#4903 enh(NcCheckboxRadioSwitch): Allow to set `aria-label`
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: enhancement, 4. to release, feature: checkbox-radio-switch

#4906 [next] fix(NcUserBubble): import warn correctly
  src/components/NcUserBubble/NcUserBubble.vue
Labels: bug, 3. to review, feature: userbubble, vue 3

#4907 enh(NcRichContenteditable): Add optional visual label for content editable
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  tests/unit/components/NcRichContenteditable/NcRichContenteditable.spec.ts
Labels: enhancement, 3. to review, design, feature: rich-contenteditable

#4913 enh(NcBreadcrumbs): Allow setting aria-label on nav
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
Labels: 3. to review, accessibility, feature: breadcrumbs

#4912 fix(NcAvatar): Increase contrast of avatar status icon
  jest.config.js
  l10n/messages.pot
  package-lock.json
  package.json
  src/assets/status-icons/user-status-away.svg
  src/assets/status-icons/user-status-dnd.svg
  src/assets/status-icons/user-status-online.svg
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcRichContenteditable/NcAutoCompleteResult.vue
  src/globals.d.ts
  src/utils/UserStatus.ts
Labels: 3. to review, feature: avatar, accessibility

#4919 feat: add small mobile breakpoint
  src/assets/variables.scss
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcModal/NcModal.vue
  src/composables/useIsMobile/index.js
Labels: enhancement, 3. to review, feature: functions

#4923 Add target prop for NcListItem
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review

#4928 enh(NcDialog): Label dialog nav
  src/components/NcDialog/NcDialog.vue
Labels: 3. to review, feature: dialog, accessibility

#4929 Automated styling update from server
  styleguide/assets/default.css
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#4902 enh: Add a full labelled color palette to be used as the default for the color picker
  l10n/messages.pot
  src/components/NcColorPicker/NcColorPicker.vue
  src/functions/usernameToColor/usernameToColor.js
  src/utils/GenColors.js
Labels: enhancement, 3. to review, accessibility, feature: colorpicker

#4909 fix(NcAppSidebar): add focus trap on mobile
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
Labels: bug, 3. to review, feature: app-sidebar, accessibility

#4924 feat(NcRichContenteditable): put caret in the end when focus input
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: rich-contenteditable

#4951 fix(package): specify exports for composables
  package.json
Labels: bug, 3. to review

#4946 fix(NcActions): provide `aria-expanded="false"` when menu is closed instead of removing it
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#4956 fix(NcListItem): Ensure list item does not overflow wrapper
  src/components/NcListItem/NcListItem.vue
Labels: bug, 4. to release, design, feature: list-item

#4955 fix(NcActionX): Allow relative icon URL
  src/mixins/actionText.js
  tests/unit/components/NcActions/NcActionButton.spec.ts
Labels: bug, 4. to release, feature: actions

#4954 fix(NcAppSettingsDialog): respect showNavigation prop
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
  tests/unit/components/NcAppSettingsDialog/NcAppSettingsDialog.spec.ts
  tests/unit/composables/useIsMobile.spec.js
  tests/unit/testing-utils.ts
Labels: bug, 4. to release, feature: settings

#4960 fix(NcAppNavigation): Bring back hover state for active element
  src/assets/NcAppNavigationItem.scss
Labels: bug, 3. to review, feature: app-navigation, regression

#4958 enh(aria): changed check color to adhere to 3:1 ratio
  src/components/NcColorPicker/NcColorPicker.vue
Labels: 3. to review, accessibility

#4966 chore(ci): make Jest output colorful
  package.json
Labels: 3. to review, technical debt

#4965 Use logical style for NcHeaderMenu
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: bug, feature: header-menu

#4947 [next] chore(master): merge `master` into `next`
  CHANGELOG.md
  l10n/ar.pot
  l10n/cs_CZ.pot
  l10n/de.pot
  l10n/de_DE.pot
  l10n/gl.pot
  l10n/it.pot
  l10n/messages.pot
  l10n/tr.pot
  l10n/uk.pot
  package-lock.json
  package.json
  src/assets/NcAppNavigationItem.scss
  src/assets/status-icons/user-status-away.svg
  src/assets/status-icons/user-status-dnd.svg
  src/assets/status-icons/user-status-online.svg
  src/assets/variables.scss
  src/components/NcActions/NcActions.vue
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationSettings/NcAppNavigationSettings.vue
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
  src/components/NcAppSettingsDialog/NcAppSettingsDialog.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcBreadcrumb/NcBreadcrumb.vue
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcDialogButton/NcDialogButton.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcInputField/NcInputField.vue
  src/components/NcListItem/NcListItem.vue
  src/components/NcModal/NcModal.vue
  src/components/NcRichContenteditable/NcAutoCompleteResult.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/composables/useIsMobile/index.js
  src/functions/usernameToColor/usernameToColor.js
  src/globals.d.ts
  src/mixins/actionText.js
  src/utils/GenColors.js
  src/utils/UserStatus.ts
  styleguide.config.js
  styleguide/assets/default.css
  styleguide/assets/server.css
  tests/unit/components/NcActions/NcActionButton.spec.ts
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
  tests/unit/components/NcAppSettingsDialog/NcAppSettingsDialog.spec.ts
  tests/unit/components/NcRichContenteditable/NcRichContenteditable.spec.ts
  tests/unit/composables/useIsMobile.spec.js
  tests/unit/testing-utils.ts
Labels: 3. to review, vue 3

#4969 [next] fix(docs): use v-model instead of sync
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: documentation, vue 3

#4962 Automated styling update from server
  styleguide/assets/default.css
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#4971 Equalize `TextArea` styles with `TextField` styles
  src/components/NcTextArea/NcTextArea.vue
Labels: 3. to review

#4974 Automated styling update from server
  styleguide/assets/default.css
Labels: 3. to review, dependencies

#4975 Increase contrast on input field for `NcRichContenteditable`
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: 3. to review

#4973 enh(breadcrumbs): changed aria label for voice control on a-tag
  src/components/NcBreadcrumb/NcBreadcrumb.vue
Labels: 3. to review, accessibility

#4981 Differentiate between dark and light theme for NcDateTimePickerNative
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
Labels: 3. to review

#4976 [next] feat(NcRich*): migrate to vue 3
  .eslintrc.js
  cypress.config.ts
  cypress/component/richtext.cy.ts
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcReferencePicker/NcCustomPickerElement.vue
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
  src/components/NcRichText/NcReferencePicker/referencePickerModal.js
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/autolink.js
  src/components/NcRichText/placeholder.js
  src/components/index.js
  src/index.js
  src/mixins/index.js
  src/mixins/richEditor/index.js
  styleguide.config.js
  tests/unit/components/NcRichContenteditable/NcRichContenteditable.spec.ts
  tests/unit/components/NcRichText/NcRichText.spec.js
  tests/unit/mixins/richEditor.spec.js
  vite.config.mts
Labels: 3. to review, feature: rich-contenteditable, feature: richtext, vue 3

#4984 fix: export functions again
  src/index.js
Labels: 3. to review, vue 3

#4985 [next] fix: remove unused files
  src/utils/ValidateChildren.js
  src/utils/ValidateSlot.js
Labels: 3. to review, vue 3

#4959 fix(NcModal): apply box sizing to modal content
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review, feature: modal, vue 3

#4986 [next] chore(master): merge `master` into `next`
  .github/workflows/cypress.yml
  l10n/ast.pot
  l10n/pt_BR.pot
  src/components/NcBreadcrumb/NcBreadcrumb.vue
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcTextArea/NcTextArea.vue
  styleguide/assets/default.css
  styleguide/assets/server.css
Labels: 3. to review, vue 3

#4990 [next] fix: unify `modelValue` naming
  src/components/NcActionTextEditable/NcActionTextEditable.vue
  src/components/NcAppNavigationItem/NcInputConfirmCancel.vue
  src/components/NcSettingsInputText/NcSettingsInputText.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
Labels: bug, enhancement, 3. to review, feature: actions, feature: settings, vue 3

#4993 [next] chore(master): merge `master` into `next`
  cypress/snapshots/base/AppNavigationItem.cy.ts/NcAppNavigationItem-primary-on-active-entry-menu-active.png
  cypress/snapshots/base/AppNavigationItem.cy.ts/NcAppNavigationItem-primary-on-active-entry.png
  cypress/snapshots/base/AppNavigationItem.cy.ts/NcAppNavigationItem-tertiary-non-active-entry.png
  cypress/visual/AppNavigationItem.cy.ts
  src/assets/NcAppNavigationItem.scss
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  styleguide/assets/server.css
Labels: 3. to review, vue 3

#4861 enh: Split translations by components to only include needed strings in app bundles
  build/extract-l10n.js
  build/extract-l10n.mjs
  build/l10n-plugin.mts
  build/translations.mts
  cypress.config.ts
  package-lock.json
  package.json
  src/components/NcActionButtonGroup/NcActionButtonGroup.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcModal/NcModal.vue
  src/components/NcSelect/NcSelect.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
  src/l10n.js
  src/mixins/l10n.js
  vite.config.mts
  webpack.config.js
Labels: enhancement, 3. to review, l10n

#4994 [next] feat!: rename `checked` prop to `modelValue`
  src/components/NcActionCheckbox/NcActionCheckbox.vue
  src/components/NcActionRadio/NcActionRadio.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
  src/components/NcButton/NcButton.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcSavingIndicatorIcon/NcSavingIndicatorIcon.vue
Labels: enhancement, 3. to review, feature: actions, feature: checkbox-radio-switch, vue 3

#4987 chore: Release 8.4.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#5006 [next] fix(NcCheckboxRadioSwitch): correctly declare update:modelValue
  src/components/NcActionCheckbox/NcActionCheckbox.vue
  src/components/NcActions/NcActions.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, feature: checkbox-radio-switch, vue 3

#5012 [next] fix(test): correctly provide props in test
  tests/unit/components/NcModal/modal.spec.js
Labels: bug, 3. to review, feature: modal, vue 3
