Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2023-02, with the labels that each got.

#3690 Fix keyboard navigation of modal slides
  src/components/NcModal/NcModal.vue
Labels: bug, 4. to release, accessibility

#3703 Use @nextcloud/vue-select
  package-lock.json
  package.json
  src/components/NcSelect/NcSelect.vue
Labels: bug, 4. to release, feature: select/multiselect, dependencies, accessibility

#3711 Add keyboard focus border to select options
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, feature: select/multiselect, accessibility

#3709 Fix NcAppNavigationItem hasUtils computed
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
Labels: bug, 3. to review, feature: app-navigation

#3712 Fix dashboard padding with half-empty content view
  src/components/NcDashboardWidget/NcDashboardWidget.vue
Labels: bug, 3. to review, feature: dashboard

#3710 Fix setting trailingButtonLabel for PasswordField
  src/components/NcPasswordField/NcPasswordField.vue
Labels: bug, 3. to review, accessibility, feature: input-field

#3678 Replace custom toolip with native one on Avatar component
  src/components/NcAvatar/NcAvatar.vue
Labels: 3. to review

#3713 Add aria-labels to example buttons in docs
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
  src/components/NcIconSvgWrapper/NcIconSvgWrapper.vue
Labels: 3. to review, feature: app-navigation, feature: documentation, papercut

#3714 Use proper default actions aria label in `NcListItem`
  l10n/messages.pot
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: actions, accessibility, feature: list-item-icon

#3718 Add missing trailing comma
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review, papercut

#3725 Simplify the render function of NcBreadcrumbs
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
Labels: 3. to review, feature: breadcrumbs

#3701 Adjust style of NcSelect to match other input elements
  src/components/NcSelect/NcSelect.vue
Labels: 4. to release, design, feature: select/multiselect

#3726 Move NcButton to render function
  src/components/NcButton/NcButton.vue
Labels: 3. to review, feature: actions, technical debt, feature: button

#3732 Fix hidden select
  src/components/NcSelect/NcSelect.vue
Labels: bug, 3. to review, feature: select/multiselect

#3733 Fix throw when header menu contains no tabbable nodes
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: bug, 3. to review

#3728 Fix `NcButton` cursor style
  src/components/NcButton/NcButton.vue
Labels: bug, 3. to review, design, feature: button

#3707 fix(ncselect): Fix styling if a custom theme is applied
  src/components/NcSelect/NcSelect.vue
Labels: bug, 4. to release, design, feature: select/multiselect

#3741 Allow inline actions for appnavigationitem
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
Labels: 3. to review, feature: actions

#3739 Add missing space in NcMultiselect ternary expression
  src/components/NcMultiselect/NcMultiselect.vue
Labels: 3. to review, papercut, feature: select/multiselect

#3724 No background for `tertiary-no-background` `NcActions`
  src/components/NcActions/NcActions.vue
Labels: 3. to review, feature: actions, design

#3749 Remove outdated and unused menu-align attributes
  src/components/NcDashboardWidgetItem/NcDashboardWidgetItem.vue
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review, papercut, technical debt

#3747 Fix tag search
  src/components/NcSelect/NcSelect.vue
  src/components/NcSelectTags/NcSelectTags.vue
Labels: bug, feature: select/multiselect

#3755 v7.6.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#3754 fix: Add a webpackrule to resolve module js files in `node_modules`
  webpack.config.js
Labels: bug, 3. to review

#3757 RichContent autocomplete not required
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: enhancement, 3. to review, feature: rich-contenteditable

#3768 Don't regard 1024px width viewport as mobile
  src/components/NcAppContent/NcAppContent.vue
Labels: bug, 3. to review, accessibility

#3761 NcPopover: Fix `setReturnFocus` property
  src/components/NcPopover/NcPopover.vue
Labels: bug, 4. to release, feature: popovermenu

#3752 Add node-polyfill-webpack-plugin
  package-lock.json
  package.json
Labels: 3. to review

#3774 Use component with :is
  src/components/NcBreadcrumb/NcBreadcrumb.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcUserBubble/NcUserBubble.vue
Labels: 3. to review, feature: breadcrumbs, technical debt, feature: checkbox-radio-switch

#3773 Adjust emits option
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcListItem/NcListItem.vue
Labels: 4. to release, technical debt

#3786 Fix hover for ActionInput datepicker native
  src/components/NcActionInput/NcActionInput.vue
Labels: bug, 3. to review, feature: datepicker, feature: actions

#3782 Fix focused select border color with top placement
  src/components/NcSelect/NcSelect.vue
Labels: bug, 3. to review, feature: select/multiselect, accessibility

#3787 Show NcDateTimePickerNative in NcPickers section
  styleguide.config.js
Labels: 3. to review, feature: documentation

#3777 Fix NcButton router-link
  src/components/NcButton/NcButton.vue
Labels: bug, 3. to review, regression, feature: button

#3785 Add examples for more ActionInput types
  src/components/NcActionInput/NcActionInput.vue
Labels: 3. to review, feature: actions, feature: documentation

#3771 Fix nativeOn is only valid on components error, make rootElement computed
  src/components/NcButton/NcButton.vue
Labels: bug, 3. to review, feature: button

#3776 Migrate from deprecated `title` to `name` prop in docs
  src/components/NcAppNavigationIconBullet/NcAppNavigationIconBullet.vue
Labels: 3. to review, feature: documentation, technical debt

#3769 Allow using v-show for `NcModal`, fix modal-wrapper transition
  src/components/NcModal/NcModal.vue
Labels: bug, enhancement, 3. to review, feature: modal

#3794 Fix clipped background color for NcDatetimePicker
  src/components/NcDatetimePicker/NcDatetimePicker.vue
Labels: bug, 3. to review, feature: datepicker

#3796 Make datetimepicker full width in NcActionInput
  src/components/NcActionInput/NcActionInput.vue
Labels: bug, 3. to review, feature: datepicker, feature: actions, design

#3760 Use `NcSelect` for `NcActionInput` type multiselect
  src/components/NcActionInput/NcActionInput.vue
Labels: 3. to review, feature: actions, feature: select/multiselect, technical debt

#3797 Show round corners for scrolling NcActions
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions

#3800 NcAppNavigation - change toggle icon for opened sidebar
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
Labels: enhancement, 3. to review, feature: app-navigation, design

#3803 Fix prop type check for NcPopover setReturnFocus
  src/components/NcPopover/NcPopover.vue
Labels: bug, 3. to review, feature: popovermenu, regression

#3781 Use `NcSelect` for `NcTimezonePicker`
  src/components/NcTimezonePicker/NcTimezonePicker.vue
Labels: enhancement, 3. to review, feature: select/multiselect, technical debt

#3805 Add missing trailing comma
  src/components/NcTimezonePicker/NcTimezonePicker.vue
Labels: 3. to review, regression, papercut

#3804 Allow value of type array for NcActionInput
  src/components/NcActionInput/NcActionInput.vue
Labels: bug, 3. to review, feature: actions, feature: select/multiselect

#3806 Allow to add class to native datepicker input
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
Labels: bug, enhancement, 3. to review, feature: datepicker, feature: actions, accessibility

#3708 Add link picker in RichContentEditable with tribute
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/functions/linkPicker/index.js
Labels: enhancement, 3. to review, feature: rich-contenteditable

#3759 `NcSelect`: Selected options should not overflow the container
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, design, feature: select/multiselect

#3784 Use `NcTextField` for `NcActionInput`
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcInputField/NcInputField.vue
Labels: 3. to review, feature: actions, design, technical debt, feature: input-field

#3811 fix(NcSelect): Do not squash selected items with `no-wrap` set
  src/components/NcSelect/NcSelect.vue
Labels: bug, 3. to review, design, feature: select/multiselect

#3657 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#3814 Unify datetimepicker opacity in NcActionInput
  src/components/NcActionInput/NcActionInput.vue
Labels: 3. to review, feature: actions, design

#3813 Adjust `NcDatetimePicker` styling
  src/components/NcDatetimePicker/NcDatetimePicker.vue
  src/components/NcDatetimePicker/index.scss
Labels: 3. to review, feature: datepicker, design

#3817 v7.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#3816 Make `NcVNodes` component non-functional
  src/components/NcVNodes/NcVNodes.vue
Labels: 3. to review, feature: app-sidebar, technical debt

#3756 fix: High contrast mode optimization
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review, feature: app-navigation, design

#3818 Rounded select dropdown options
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, design, feature: select

#3827 Don't fail if `NcButton` default slot contains not only text
  src/components/NcButton/NcButton.vue
Labels: bug, 3. to review, feature: button

#3826 Adjust native datepicker icon position
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
Labels: bug, 3. to review, feature: datepicker, design

#3832 Fix rich content placeholder position
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: rich-contenteditable

#3833 NcSelect: Only hide search input if disabled and an element was selected
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, regression, feature: select

#3834 Fix circular dependency with `@nextcloud/vue-richtext`
  package-lock.json
  package.json
Labels: bug, 3. to review
