Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2024-04, with the labels that each got.

#5436 Automated styling update from server
  styleguide/assets/icons.css
Labels: 3. to review, dependencies

#5456 fix(NcAppNavigationItem): Fix uncollapsible entry
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
Labels: bug, 3. to review, feature: app-navigation

#5455 fix(NcRichText): include all label items
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/richtext.scss
  tests/unit/components/NcRichText/NcRichText.spec.js
Labels: bug, 3. to review, feature: richtext

#5460 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#5451 fix(sidebar): propagate keydown unless mobile
  src/components/NcAppSidebar/NcAppSidebar.vue
Labels: bug, 3. to review

#5448 fix(NcActions): Show last action entry only partial to make it discoverable
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions

#5463 fix(NcDialog): Set font size to make dialog compatible with Nextcloud 30
  src/components/NcDialog/NcDialog.vue
Labels: bug, 3. to review

#5474 fix(deps): Update all dependencies for Vue 3 branch
  .eslintrc.json
  package-lock.json
  package.json
Labels: 3. to review, dependencies, vue 3

#5473 chore: Update stylings from server
  styleguide/assets/default.css
  styleguide/assets/icons.css
  styleguide/assets/server.css
Labels: 3. to review, vue 3

#5419 fix(NcRichText): more strictly resolve vue router's path
  src/components/NcRichText/autolink.js
  tests/unit/components/NcRichText/autoLink.spec.js
Labels: bug, 3. to review, backport-request, feature: richtext

#5477 fix(NcAvatar): support in-app router links for contact menu
  src/components/NcAvatar/NcAvatar.vue
Labels: bug, 3. to review, feature: avatar

#5462 release: v8.11.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release

#5481 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#5485 fix(NcReferenceWidget): do not try to render widget when there is no widget
  src/components/NcRichText/NcReferenceWidget.vue
Labels: bug, feature: richtext

#5495 fix(NcDialog): Actions should not overflow the action container
  src/components/NcDialog/NcDialog.vue
Labels: bug, 3. to review, feature: dialog, backport-request

#5499 fix(NcColorPicker): Allow to submit selected color in simple-view
  src/components/NcColorPicker/NcColorPicker.vue
Labels: bug, 3. to review, backport-request, feature: colorpicker

#5487 fix(autolink): correctly handle relative links without webroot
  src/components/NcRichText/autolink.js
  tests/unit/components/NcRichText/autoLink.spec.js
Labels: bug, 3. to review, feature: richtext

#5493 fix(NcDateTime): When relative time is disabled return a string and not the reference to it
  src/components/NcDateTime/NcDateTime.vue
  src/composables/index.js
  src/composables/useFormatDateTime.ts
  tests/unit/composables/useFormatDateTime.spec.js
  vite.config.mts
Labels: bug, 3. to review, backport-request

#5507 fix(NcCheckboxRadioSwitch): Pass attrs to `input` if available
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  tests/unit/components/NcCheckboxRadioSwitch/checkbox.spec.js
Labels: bug, 3. to review, backport-request, feature: checkbox-radio-switch

#5509 fix(NcCheckboxRadioSwitch): Add background color for button style
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, backport-request, feature: checkbox-radio-switch

#5501 fix(NcDateTime): Respect language
  src/composables/useFormatDateTime.ts
  tests/unit/components/NcDateTime/NcDateTime.spec.js
Labels: bug, 3. to review, backport-request

#5527 fix(NcRichText): adjust display so long texts in checkboxes can be shown correctly
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcRichText/NcRichText.vue
Labels: bug, 3. to review, backport-request, feature: richtext
