Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2024-02, with the labels that each got.

#5196 revert: fix(NcActions): use new slots api
  src/mixins/actionGlobal.js
Labels: bug, 3. to review, feature: actions, regression

#5201 chore: Release 8.6.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#5149 fix: button size regression on small viewports fixed
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: bug, 3. to review, accessibility, feature: header-menu

#5198 fix(NcListItem): Remove actions from within `a` which caused invalid HTML output
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, accessibility, feature: list-item

#5211 chore(NcSelect): Mention labelOutside for external label use
  src/components/NcSelect/NcSelect.vue
Labels: 3. to review, feature: documentation, feature: select

#5214 fix(NcRichContenteditable): unify styles and add contrast border on keyboard navigation
  src/components/NcRichContenteditable/NcAutoCompleteResult.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, accessibility, feature: rich-contenteditable

#5215 fix(NcRichContenteditable): bring back label for autocomplete
  src/components/NcRichContenteditable/NcAutoCompleteResult.vue
  src/components/NcRichContenteditable/NcMentionBubble.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcRichText.vue
  tests/unit/mixins/richEditor.spec.js
Labels: bug, 3. to review, feature: rich-contenteditable

#5219 feat(NcAppSidebar): move focus to sidebar on open and auto return focus on close
  src/components/NcActions/NcActions.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
Labels: enhancement, 3. to review, feature: app-sidebar, accessibility

#5223 release: v8.6.2
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review, technical debt

#5218 feat: Split reference and smart picker functions from components
  src/components/NcRichText/NcReferencePicker/NcCustomPickerElement.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePicker.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/index.js
  src/functions/index.js
  src/functions/reference/customPickerElements.js
  src/functions/reference/index.js
  src/functions/reference/providerHelper.js
  src/functions/reference/referencePickerModal.js
  src/functions/reference/widgets.js
  src/functions/registerReference/index.js
Labels: enhancement, 3. to review

#5235 fix(NcRichContenteditable): adjust styles and use CSS Modules to avoid global styles leak
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  stylelint.config.js
  webpack.config.js
Labels: bug, regression, backport-request, feature: rich-contenteditable

#5225 feat(NcSelect): Add `required` attribute for native form validation
  src/components/NcSelect/NcSelect.vue
Labels: enhancement, 3. to review, feature: select

#5238 [next] chore(master): merge `master` into `next`
  .github/pull_request_template.md
  .github/workflows/command-l10n-update.yml
  .github/workflows/cypress.yml
  .github/workflows/l10n.yml
  .github/workflows/lint-eslint.yml
  .github/workflows/lint-stylelint.yml
  .github/workflows/node-test.yml
  .github/workflows/npm-publish.yml
  .github/workflows/server-styling-update.yml
  CHANGELOG.md
  cypress.config.ts
  package-lock.json
  package.json
  src/components/NcActions/NcActions.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcAppSidebarTab/NcAppSidebarTab.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcListItem/NcListItem.vue
  src/components/NcRichContenteditable/NcAutoCompleteResult.vue
  src/components/NcRichContenteditable/NcMentionBubble.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcReferencePicker/NcCustomPickerElement.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePicker.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/index.js
  src/components/NcSelect/NcSelect.vue
  src/functions/index.js
  src/functions/reference/customPickerElements.js
  src/functions/reference/index.js
  src/functions/reference/providerHelper.js
  src/functions/reference/referencePickerModal.js
  src/functions/reference/widgets.js
  src/functions/registerReference/index.js
  stylelint.config.cjs
  tests/unit/mixins/richEditor.spec.js
  webpack.config.cjs
Labels: 3. to review, vue 3

#5237 fix(NcActionButton): Forward `disabled` state to native button element
  src/components/NcActionButton/NcActionButton.vue
Labels: bug, 3. to review, feature: actions

#5244 fix(NcModal): scope modal-container size to current modal, don't propagate it on nested
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review, feature: modal, backport-request

#5221 Automated styling update from server
  styleguide/assets/default.css
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#5240 fix(NcReferenceWidget): `useResizeObserver`
  src/components/NcRichText/NcReferenceWidget.vue
Labels: backport-request

#5246 feat(NcRichText): handle internal links with Vue Router
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/autolink.js
Labels: enhancement, 3. to review, feature: richtext

#5216 enh: added option to render icon and text for breadcrumb
  src/components/NcBreadcrumb/NcBreadcrumb.vue
Labels: enhancement, 3. to review, design

#5251 Fix timezone dropdown
  src/components/NcDateTimePicker/NcDateTimePicker.vue
Labels: bug, 3. to review

#5239 [next] fix(NcRichText*): listen to correct events form NcSelect
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcSearch.vue
Labels: 3. to review, feature: richtext

#5231 [next] fix(NcActionInput): listen to correct events
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcColorPicker/NcColorPicker.vue
Labels: bug, 3. to review, feature: actions, vue 3

#5261 [next] chore: bump various dependencies
  package-lock.json
  package.json
Labels: dependencies, vue 3

#5264 [next] Merge master into next
  CHANGELOG.md
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review, vue 3

#5265 [next] Prepare 9.0.0-alpha.2 release
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review, vue 3

#5268 fix(NcRichContenteditable): register props globally for new Tribute
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: richtext

#5271 fix: Center dashboard list items when there is no subtext
  src/components/NcDashboardWidgetItem/NcDashboardWidgetItem.vue
Labels: bug, 4. to release, feature: dashboard

#5275 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#5281 8.7.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: bug, 3. to review

#5286 fix(NcAppNavigationSpacer): Adjust order to make the spacer work again
  cypress/component/NcAppNavigationSpacer.cy.ts
  package-lock.json
  package.json
  src/components/NcAppNavigationSpacer/NcAppNavigationSpacer.vue
Labels: bug, 3. to review, feature: app-navigation

#5282 fix(NcResource): use RouterLink where possible for internal shared resources
  src/components/NcRelatedResourcesPanel/NcResource.vue
Labels: bug, 3. to review, feature: related resources panel

#5291 Revert "fix(NcReferenceList): Resolve relative URLs before fetching references"
  src/components/NcRichText/NcReferenceList.vue
Labels: 3. to review, backport-request

#5300 Remove `aria-haspopup` and `aria-controls` from navigation menu
  src/components/NcActions/NcActions.vue
  src/components/NcPopover/NcPopover.vue
Labels: 3. to review

#5305 fix(NcActions): put in order tab and arrow navigation
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#5298 chore(deps): use `@vueuse@10.7.2` and `vue@2.7.16`
  package-lock.json
  package.json
Labels: bug, 3. to review, regression, dependencies

#5308 fix(NcActions): provide a label in dialog role
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#5302 feat: Add NcAppNavigationList
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationCaption/NcAppNavigationCaption.vue
  src/components/NcAppNavigationList/NcAppNavigationList.vue
  src/components/NcAppNavigationList/index.js
  src/components/index.js
Labels: enhancement, 3. to review, feature: app-navigation, accessibility

#5294 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#5313 fix(NcActions): focus first checked item on open
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, regression, accessibility, backport-request

#5321 fix(NcRichContenteditable): disable global allowSpaces tribute option
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: 3. to review, regression, backport-request, feature: rich-contenteditable

#5309 fix(NcPopover): add aria-modal to some popover-based dialog components
  src/components/NcActions/NcActions.vue
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcEmojiPicker/NcEmojiPicker.vue
  src/components/NcPopover/NcPopover.vue
Labels: bug, feature: popover, feature: actions, accessibility, feature: colorpicker, feature: emoji picker

#5328 v8.8.0
  CHANGELOG.md
  package-lock.json
  package.json
  vite.config.mts
Labels: 4. to release

#5329 [next] fix(NcActions): provide a label in dialog role
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#5325 Enh: handle text overflow in NcSelect
  src/components/NcSelect/NcSelect.vue
Labels: enhancement, 3. to review, feature: select

#5331 fix: scope component breaking NcModal and NcDateTimePickers
  vite.config.mts
Labels: bug, 3. to review

#5332 release: v8.8.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review
