Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2024-09, with the labels that each got.

#6037 fix(NcActions): Pressing escape should always close the actions
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, backport-request

#6039 NcListItem: make the max width of the NcListItem in oneline mode apply only to the content name
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review

#6044 Automated styling update from server
  styleguide/assets/default.css
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#6047 fix(NcHeaderMenu): Ensure trigger button is has same width as wrapper
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: bug, 3. to review, backport-request, feature: header-menu

#6055 fix(NcCheckboxRadioSwitch): switch may always have checked-like background
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
Labels: bug, 3. to review, backport-request, feature: checkbox-radio-switch

#6056 fix(NcEmojiPicker): adjust hover effects to new design
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: bug, 3. to review, backport-request, feature: emoji picker

#6060 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#6048 feat(NcHeaderButton): Add a button only alternative for the header menu
  src/components/NcHeaderButton/NcHeaderButton.vue
  src/components/NcHeaderButton/index.js
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcHeaderMenu/header-menu__trigger.scss
  src/components/index.js
  styleguide.config.js
Labels: enhancement, 3. to review, backport-request, feature: header-menu

#6078 chore: release v8.18.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release

#6054 fix(NcAppNavigationItem): align utils with actions and other components
  src/assets/NcAppNavigationItem.scss
Labels: bug, 3. to review, low, design

#6083 fix(NcModal): make dark header configurable
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review, regression, feature: modal, backport-request

#6084 chore: add npm-audit-fix workflow
  .github/workflows/npm-audit-fix.yml
Labels: backport-request

#6094 [master] Fix npm audit
  package-lock.json
Labels: 3. to review, dependencies

#6093 [next] Fix npm audit
  package-lock.json
Labels: 3. to review, dependencies

#6065 feat(NcActions): Emit `closed` event only when the actions are fully closed
  src/components/NcActions/NcActions.vue
Labels: enhancement, 3. to review, feature: actions

#6097 style(NcColorPicker): adjust styles of advanced fields to match NcInputField
  src/components/NcColorPicker/NcColorPicker.vue
Labels: bug, 3. to review, design, feature: colorpicker

#6089 chore: release v8.19.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#6117 fix(NcListItem): change condition to display the counter number
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: list-item
