Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2024-03, with the labels that each got.

#5341 chore(deps): update `@nextcloud` family
  package-lock.json
  package.json
Labels: 3. to review, dependencies

#5257 feat(reference): Add opt-in for interactive mode and render widgets lazy once in view
  l10n/messages.pot
  src/components/NcRichText/NcReferenceList.vue
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/index.js
  src/functions/reference/index.js
  src/functions/reference/widgets.js
  src/functions/reference/widgets.ts
  src/functions/registerReference/index.js
Labels: enhancement, 3. to review

#5345 fix(NcActions): clear focus trap and move focus only if elements are existing in the DOM
  src/components/NcActions/NcActions.vue
Labels: 3. to review, feature: actions, regression, backport-request

#5316 feat: List team resources in related resources panel
  l10n/messages.pot
  src/components/NcRelatedResourcesPanel/NcRelatedResourcesPanel.vue
  src/components/NcRelatedResourcesPanel/NcTeamResources.vue
Labels: enhancement, 3. to review

#5347 fix(NcAppNavigation): Wrap app navigation default slot with scrollable container
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationList/NcAppNavigationList.vue
Labels: bug, 3. to review, feature: app-navigation

#5354 chore: Release 8.9.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#5355 fix: Revert "fix(NcAppNavigation): Wrap app navigation default slot with scrollable container"
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationList/NcAppNavigationList.vue
Labels: 3. to review

#5356 chore: Release v8.9.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#5360 fix(NcAppNavigation): stretch the main content when there is no list slot
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationList/NcAppNavigationList.vue
Labels: bug, 3. to review, feature: app-navigation

#5357 chore: Remove GitHub Package Registry from publish workflow
  .github/workflows/npm-publish.yml
Labels: 3. to review

#5353 fix(NcRichContenteditable): capture and stop `Esc` keydown event when closing tribute
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: rich-contenteditable

#5364 fix: Adjust styling of team resource images
  src/components/NcRelatedResourcesPanel/NcTeamResources.vue
Labels: bug, 3. to review

#5209 feat(NcAppContent): Support full width lists
  src/components/NcAppContent/NcAppContent.vue
  src/components/NcAppContent/NcAppDetailsToggle.vue
  src/components/NcListItem/NcListItem.vue
Labels: enhancement, 3. to review, feature: app-content, feature: list-item

#5346 chore(README): remove build:module and watch:module
  README.md
Labels: backport-request

#5378 fix(NcRichContentEditable): require leading space to open tributes
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, feature: rich-contenteditable

#5361 Automated styling update from server
  styleguide/assets/default.css
  styleguide/assets/icons.css
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#5359 fix(richEditor): reference server-scoped regular expression to match complex user mentions + fix(richText): when parse HTML content collapse consecutive spaces
  src/mixins/richEditor/index.js
  tests/unit/mixins/richEditor.spec.js
Labels: enhancement, 3. to review, feature: rich-contenteditable

#5342 fix(NcListItem): open _blank link by Enter and allow prevent
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: list-item

#5365 fix(NcRichText): Allow to pass interactive widget toggle
  src/components/NcRichText/NcReferenceWidget.vue
  src/components/NcRichText/NcRichText.vue
Labels: bug, 3. to review, backport-request

#5381 fix(NcActions): correct dialog a11y attrs place
  src/components/NcActions/NcActions.vue
Labels: bug, 3. to review, feature: actions, accessibility

#5390 fix(NcUserStatusicon): set status icons size explicitly
  src/assets/status-icons/user-status-away.svg
  src/assets/status-icons/user-status-dnd.svg
  src/assets/status-icons/user-status-invisible.svg
  src/assets/status-icons/user-status-online.svg
Labels: bug, 3. to review, backport-request

#5336 feat(NcActions): Allow to manually specify the semantic menu type
  src/components/NcActions/NcActions.vue
  styleguide.config.js
  tests/unit/components/NcActions/NcActions.spec.ts
Labels: enhancement, 4. to release, feature: actions

#5391 NcListItem - change padding for one-line layout
  src/components/NcListItem/NcListItem.vue
Labels: enhancement, 3. to review, backport-request, feature: list-item

#5397 release: v8.10.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review, technical debt

#5400 fix(NcListItem): bring back old styling for two-line list items
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review, regression, feature: list-item

#5388 feat: add title slot for NcItemList component
  src/components/NcListItem/NcListItem.vue
Labels: enhancement, 3. to review, component, backport-request, feature: list-item

#5401 Feat(NcAppContent) Add horizontal split for appcontent
  src/components/NcAppContent/NcAppContent.vue
Labels: enhancement, 3. to review

#5408 fix(NcListItem): align indicators at the element bottom
  src/components/NcListItem/NcListItem.vue
Labels: 3. to review, regression, feature: list-item

#5411 fix(NcReferenceWidget): set timeout to destroy idle widgets outside of viewports
  src/components/NcRichText/NcReferenceWidget.vue
Labels: bug, 3. to review, feature: richtext

#5409 fix(NcAvatar): rendering user status emoji in the menu
  src/components/NcAvatar/NcAvatar.vue
Labels: 3. to review, feature: avatar

#5415 release: v8.11.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release

#5420 fix(tribute): provide avatar url correctly when in dark mode
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcRichContenteditable/NcAutoCompleteResult.vue
  src/components/NcRichContenteditable/NcMentionBubble.vue
  src/utils/getAvatarUrl.ts
  tests/unit/utils/getAvatarUrl.spec.ts
Labels: bug, 3. to review, feature: rich-contenteditable

#5421 fix(NcListItem): decrease font-weight, restore contrast color for subname
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: list-item

#5389 fix(NcAppSidebar): animation glitch on toggle
  src/components/NcAppNavigation/NcAppNavigation.vue
Labels: bug, 3. to review, feature: app-sidebar, backport-request

#5432 fix(NcActionInput): Add label to sample
  src/components/NcActionInput/NcActionInput.vue
Labels: bug, 3. to review, backport-request

#5434 release: v8.11.1
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release

#5441 fix(NcBreadcrumbs): Only render existing hidden breadcrumbs
  src/components/NcBreadcrumbs/NcBreadcrumbs.vue
Labels: bug, 3. to review, feature: breadcrumbs
