Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2024-11, with the labels that each got.

#6189 fix: force color-main-text for icons in NcAppSidebarTabs
  src/components/NcAppSidebar/NcAppSidebarTabs.vue
Labels: bug, 3. to review, feature: app-sidebar

#6184 fix: scope css styles for TimeZonePicker
  src/components/NcDateTimePicker/NcDateTimePicker.vue
Labels: 3. to review, feature: datepicker, regression, backport-request

#6172 feat: forward compatibility with v9 on `v-model` props/events
  src/components/NcActionCheckbox/NcActionCheckbox.vue
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcActionRadio/NcActionRadio.vue
  src/components/NcActionTextEditable/NcActionTextEditable.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
  src/components/NcInputField/NcInputField.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcSelect/NcSelect.vue
  src/components/NcSelectTags/NcSelectTags.vue
  src/components/NcSettingsInputText/NcSettingsInputText.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
  src/components/NcTextArea/NcTextArea.vue
  src/components/NcTextField/NcTextField.vue
  src/components/NcTimezonePicker/NcTimezonePicker.vue
  src/composables/useModelMigration.ts
Labels: enhancement, 3. to review

#6187 fix(NcAppSidebar): RTL support
  src/components/NcAppSidebar/NcAppSidebar.vue
Labels: bug, 3. to review, feature: app-sidebar, backport-request

#5698 feat: add isDarkTheme functions and composables
  REUSE.toml
  docs/composables/useIsDarkTheme.md
  docs/functions/isDarkTheme.md
  src/composables/index.js
  src/composables/useIsDarkTheme/index.ts
  src/functions/index.js
  src/functions/isDarkTheme/index.ts
  styleguide.config.js
  styleguide/global.requires.js
  tsconfig.json
  tsconfig.webpack.json
  webpack.config.js
Labels: enhancement, 3. to review, feature: functions

#6195 feat: Add `spawnDialog` function
  docs/functions/spawnDialog.md
  src/functions/dialog/index.ts
  src/functions/index.ts
  src/index.js
  styleguide.config.js
  styleguide/global.requires.js
Labels: enhancement, 3. to review, feature: functions

#6175 chore: prepare v8.20.0 release
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 4. to release

#6215 docs: add missing `useIsDarkTheme` import
  styleguide/global.requires.js
Labels: 3. to review

#6218 fix(NcChip): wrong color-primary-text variable used
  src/components/NcChip/NcChip.vue
Labels: bug, 3. to review, design, backport-request

#6234 fix: make sure model event in `v-model` is the first to avoid regression
  src/composables/useModelMigration.ts
Labels: bug, 3. to review, regression

#6235 fix(NcTextField): don't fire value updating events twice
  src/components/NcTextField/NcTextField.vue
Labels: bug, 3. to review, feature: input-field

#6231 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#6233 fix(NcRichContenteditable): support email mentions
  src/mixins/richEditor/index.js
  tests/unit/mixins/richEditor.spec.js
Labels: bug, 3. to review, backport-request, feature: rich-contenteditable

#6227 fix(NcAppContent): white splitter in dark mode when using split-horizontal mode
  src/components/NcAppContent/NcAppContent.vue
Labels: bug, 3. to review, feature: app-content

#6223 fix(NcRichContenteditable): do not break adjacent mentions
  src/mixins/richEditor/index.js
  tests/unit/mixins/richEditor.spec.js
Labels: bug, 3. to review, feature: rich-contenteditable

#6212 feat(NcRichText): highlight code syntax if language provided
  jest.config.js
  package-lock.json
  package.json
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/highlight.scss
  src/components/NcRichText/richtext.scss
  tests/unit/components/NcRichText/NcRichText.spec.js
Labels: enhancement, 3. to review, feature: richtext

#6241 fix(NcRichContenteditable): fix pasted text handling
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, backport-request, feature: rich-contenteditable

#6242 Automated styling update from server
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#6188 docs(NcDateTimePickerNative): add time picker example
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
Labels: 3. to review

#6226 fix(NcAppNavigationItem): TypeError: this.$refs.actions.$refs.menuButton is undefined
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
Labels: bug, 3. to review, feature: app-navigation

#6265 style(NcCheckboxRadioSwitch): fix styles in disabled state
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, design
