Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2024-12, with the labels that each got.

#6266 fix(NcModal): make 'Close' button the last element for the focus-trap
  src/components/NcModal/NcModal.vue
Labels: bug, 3. to review, feature: modal

#6260 fix(NcAppNavigation): Fix sidebar position in RTL and mobile mode.
  src/components/NcAppNavigation/NcAppNavigation.vue
Labels: bug, 3. to review, feature: app-sidebar

#6303 fix(NcAppContent): add RTL support
  src/components/NcAppContent/NcAppContent.vue
Labels: bug, 3. to review, feature: app-content, backport-request

#6238 feat(NcAvatar): implement custom javascript hook action for the contacts menu
  src/components/NcAvatar/NcAvatar.vue
  src/functions/contactsMenu/index.ts
  src/functions/index.ts
  src/globals.d.ts
Labels: enhancement, 4. to release, feature: avatar, backport-request, feature: functions

#6302 fix(NcCheckboxRadioSwitch): RTL support
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, design, backport-request

#6290 Fix(NcSettingsSection): Add RTL support to NcSettingsSection info icon.
  src/components/NcSettingsSection/NcSettingsSection.vue
Labels: bug, 3. to review, backport-request, feature: settings, Right-to-Left language

#6292 Fix(NcDashboardWidgetItem): Add RTL support to NcDashboardWidgetItem
  src/components/NcDashboardWidgetItem/NcDashboardWidgetItem.vue
Labels: bug, 3. to review, backport-request, feature: dashboard, Right-to-Left language

#6316 fix(NcRichContenteditable): prevent content from overflowing
  src/components/NcRichContenteditable/NcRichContenteditable.vue
Labels: bug, 3. to review, backport-request, feature: rich-contenteditable

#6311 feat(NcAppNavigation): add `n` hotkey to toggle navigation
  cypress/component/NcAppNavigation.cy.ts
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppNavigationToggle/NcAppNavigationToggle.vue
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/functions/contactsMenu/index.ts
  src/utils/logger.ts
  tests/unit/components/NcAppNavigation/NcAppNavigation.spec.js
Labels: 3. to review, feature: app-navigation, accessibility, backport-request

#6200 fix(NcActionButton): RTL support
  src/assets/action.scss
  src/components/NcActionButton/NcActionButton.vue
Labels: bug, 3. to review, feature: actions, RTL

#6321 chore: release v8.22.0
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#6259 fix(NcRichText): async import remark-gfm library
  src/components/NcRichText/NcRichText.vue
  tests/unit/components/NcRichText/NcRichText.spec.js
Labels: bug, 3. to review, technical debt, feature: richtext
