Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2025-03, with the labels that each got.

#6565 fix(NcColorPicker): remove unused invalid styles
  src/components/NcColorPicker/NcColorPicker.vue
Labels: bug, 3. to review, backport-request

#6537 chore: prepare v9.0.0-alpha.7
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review, vue 3

#6425 refactor(utils): Replace `GenRandomId` with `getRandomId`
  src/components/NcActionButtonGroup/NcActionButtonGroup.vue
  src/components/NcActionCheckbox/NcActionCheckbox.vue
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcActionRadio/NcActionRadio.vue
  src/components/NcActionTextEditable/NcActionTextEditable.vue
  src/components/NcActions/NcActions.vue
  src/components/NcAppNavigationItem/NcAppNavigationItem.vue
  src/components/NcAppNavigationSettings/NcAppNavigationSettings.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcBreadcrumb/NcBreadcrumb.vue
  src/components/NcButton/NcButton.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcHeaderButton/NcHeaderButton.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcInputField/NcInputField.vue
  src/components/NcModal/NcModal.vue
  src/components/NcRichContenteditable/NcRichContenteditable.vue
  src/components/NcRichText/NcRichText.vue
  src/components/NcSelect/NcSelect.vue
  src/components/NcSettingsInputText/NcSettingsInputText.vue
  src/components/NcSettingsSelectGroup/NcSettingsSelectGroup.vue
  src/components/NcTextArea/NcTextArea.vue
  src/components/NcTimezonePicker/NcTimezonePicker.vue
  src/globals.d.ts
  src/utils/GenRandomId.js
  src/utils/createElementId.spec.ts
  src/utils/createElementId.ts
Labels: 3. to review, vue 3, refactor ♻️

#5269 feat(NcAppContent): Allow to set the page title
  src/components/NcAppContent/NcAppContent.vue
  tests/unit/components/NcAppContent/NcAppContent.spec.ts
Labels: enhancement, 3. to review, feature: app-content, backport-request

#6623 docs: adjust version number for `variant` props
  src/components/NcActions/NcActions.vue
  src/components/NcButton/NcButton.vue
  src/components/NcChip/NcChip.vue
  src/components/NcDialogButton/NcDialogButton.vue
Labels: 3. to review, feature: documentation

#6628 [master] Fix npm audit
  package-lock.json
Labels: 3. to review, dependencies

#6640 fix(NcInputField): Only show error state border if user interacted with the input
  src/components/NcInputField/NcInputField.vue
Labels: bug, 3. to review, feature: input-field

#6652 fix(NcEmojiPicker): return focus steals actual focus
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: 3. to review, regression, feature: emoji picker

#6609 [next] Fix npm audit
  package-lock.json
Labels: 3. to review, dependencies

#6653 refactor: replace boolean properties with `default: true` with `defau…
  CHANGELOG.md
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcModal/NcModal.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  tests/unit/components/NcAvatar/NcAvatar.spec.ts
  tests/unit/components/NcModal/modal.spec.js
Labels: 3. to review, 💥 breaking, vue 3, refactor ♻️

#6656 feat: add boolean prop alternatives with false as default value
  CHANGELOG.md
  src/components/NcAvatar/NcAvatar.vue
  src/components/NcDialog/NcDialog.vue
  src/components/NcModal/NcModal.vue
Labels: enhancement, 3. to review, refactor ♻️

#6660 refactor: migrate logger to Typescript
  src/components/NcBlurHash/NcBlurHash.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/utils/logger.ts
Labels: 3. to review, vue 3, refactor ♻️

#6659 refactor(useIsFullscreen): migrate to Typescript
  src/composables/index.js
  src/composables/useIsFullscreen/index.js
  src/composables/useIsFullscreen/index.ts
Labels: 3. to review, vue 3, refactor ♻️

#6663 fix(deps): fix version and bundle `mdast-util-gfm-autolink-literal`
  package-lock.json
  package.json
Labels: bug, 3. to review, dependencies

#6662 refactor: migrate `findRanges` to Typescript
  src/components/NcEllipsisedOption/NcEllipsisedOption.vue
  src/components/NcHighlight/NcHighlight.vue
  src/utils/findRanges.ts
  tests/unit/utils/createElementId.spec.ts
  tests/unit/utils/findRanges.spec.ts
  webpack.config.cjs
Labels: 3. to review, vue 3, refactor ♻️

#6654 refactor(NcDateTime): migrate to Typescript and script-setup
  src/components/NcDateTime/NcDateTime.vue
  src/components/NcDateTime/index.ts
Labels: 3. to review, vue 3, refactor ♻️

#6658 refactor!: migrate `useIsMobile` to TS and remove `isMobileState`
  CHANGELOG.md
  src/composables/index.ts
  src/composables/useIsMobile/index.ts
Labels: 3. to review, 💥 breaking, vue 3, refactor ♻️

#6651 refactor(NcDateTimePicker): migrate to `@vuepick` library
  CHANGELOG.md
  l10n/messages.pot
  package-lock.json
  package.json
  src/components/NcDateTimePicker/NcDateTimePicker.vue
  src/components/NcDateTimePicker/chevron-double-left.svg
  src/components/NcDateTimePicker/chevron-double-right.svg
  src/components/NcDateTimePicker/chevron-left.svg
  src/components/NcDateTimePicker/chevron-right.svg
  src/components/NcDateTimePicker/index.scss
  src/components/NcDateTimePicker/index.ts
  src/components/NcTimezonePicker/NcTimezonePicker.vue
  tests/component/components/NcDateTimePicker.spec.ts
Labels: 3. to review, vue 3
