Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2025-06, with the labels that each got.

#6986 refactor(NcTextArea): migrate component to Typescript and script-setup
  src/components/NcTextArea/NcTextArea.vue
  src/components/NcTextArea/index.ts
  src/components/index.ts
  src/utils/VueTypes.ts
  tests/unit/components/NcTextArea/NcTextArea.spec.ts
Labels: 3. to review, refactor ♻️

#6951 refactor: migrate Nc*Field to Typescript
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcEmojiPicker/NcEmojiPicker.vue
  src/components/NcInputField/NcInputField.vue
  src/components/NcInputField/index.ts
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcPasswordField/index.ts
  src/components/NcRichText/NcReferencePicker/NcRawLinkInput.vue
  src/components/NcTextField/NcTextField.vue
  src/components/NcTextField/index.ts
  src/components/index.ts
  src/utils/VueTypes.ts
  tests/component/components/Nc*Field/FocusSelectTest.story.vue
  tests/component/components/Nc*Field/Nc*Field.spec.ts
  tests/unit/components/Nc*Field/Nc*Field.spec.ts
  tests/unit/components/Nc*Field/NcInputField.spec.ts
  tests/unit/components/Nc*Field/NcTextField.spec.ts
Labels: 3. to review, refactor ♻️

#6994 fix(NcInputField): unresolved component and state color
  src/components/NcInputField/NcInputField.vue
Labels: bug, 3. to review

#6861 fix(NcAppNavigationItem): multi level padding
  src/assets/NcAppNavigationItem.scss
Labels: bug, 3. to review, feature: app-navigation

#7000 refactor(NcHeaderMenu): export as Typescript module and reorder script tags
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcHeaderMenu/index.ts
  src/components/index.ts
Labels: 3. to review, refactor ♻️

#6999 fix(NcAppNavigationSettings): button left full width
  src/components/NcAppNavigationSettings/NcAppNavigationSettings.vue
Labels: 3. to review, feature: app-navigation, regression, design

#7010 fix(NcAppContent): incorrect page title from a different `core.apps` format in Nextcloud 30
  src/components/NcAppContent/NcAppContent.vue
Labels: bug, 3. to review, feature: app-content, backport-request

#7011 [stable8] fix(NcAppContent): incorrect page title from a different core.apps format in Nextcloud 30
  src/components/NcAppContent/NcAppContent.vue
Labels: bug, 3. to review, feature: app-content

#7029 fix(NcButton): correctly apply reverse padding
  src/components/NcButton/NcButton.vue
Labels: bug, 3. to review, regression, design, feature: button

#7032 [stable8] fix(NcSelectUsers): fix using of v-model in Vue 2
  src/components/NcSelectUsers/NcSelectUsers.vue
Labels: bug, 3. to review, feature: select

#7033 fix(NcAvatar): update 'hasStatus' flag if changed
  src/components/NcAvatar/NcAvatar.vue
Labels: bug, 3. to review, feature: avatar, backport-request

#7043 fix(NcCheckboxRadioSwitch): align icons with the first row of label
  src/components/NcCheckboxRadioSwitch/NcCheckboxContent.vue
  src/components/NcCheckboxRadioSwitch/NcCheckboxRadioSwitch.vue
Labels: bug, 3. to review, design, backport-request, feature: checkbox-radio-switch

#7056 fix(NcRichText): always render code blocks in LTR direction
  src/components/NcRichText/NcRichText.vue
Labels: bug, 3. to review, backport-request, feature: richtext

#7061 [stable8] fix(NcRichText): always render code blocks in LTR direction
  src/components/NcRichText/richtext.scss
Labels: bug, 3. to review, feature: richtext

#7071 fix(NcHeaderMenu): bring caret back
  src/components/NcHeaderMenu/NcHeaderMenu.vue
Labels: bug, 3. to review, regression, feature: header-menu

#7075 refactor(NcDateTimePickerNative): migrate component to Typescript and script-setup
  l10n/messages.pot
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcDateTimePickerNative/NcDateTimePickerNative.vue
  src/components/NcDateTimePickerNative/index.ts
  src/components/index.ts
  tests/unit/components/NcDateTimePickerNative/NcDateTimePickerNative.spec.ts
Labels: 3. to review, feature: datepicker, refactor ♻️

#7077 fix(NcPopover): component crash when unmounted shown
  src/components/NcPopover/NcPopover.vue
Labels: bug, 3. to review, feature: popover

#7086 fix(NcListItem): let `active` prop take higher priority
  src/components/NcListItem/NcListItem.vue
Labels: bug, 3. to review, feature: list-item

#7080 refactor(NcColorPicker): migrate component to Typescript
  CHANGELOG.md
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcColorPicker/index.ts
  src/components/index.ts
Labels: 3. to review, backport-request, feature: colorpicker, refactor ♻️

#7096 fix(NcActions + NcEmojiPicker): no focus-trap when needed, extra focus-trap when not
  src/components/NcActions/NcActions.vue
  src/components/NcEmojiPicker/NcEmojiPicker.vue
Labels: bug, 3. to review, feature: actions, regression, backport-request, feature: emoji picker

#7099 Automated styling update from server
  styleguide/assets/apps.css
  styleguide/assets/server.css
Labels: 3. to review, dependencies

#6969 refactor: migrate reference widget related function to Typescript
  src/components/NcRichText/NcReferencePicker/NcCustomPickerElement.vue
  src/components/NcRichText/NcReferencePicker/NcProviderList.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePicker.vue
  src/components/NcRichText/NcReferencePicker/NcReferencePickerModal.vue
  src/components/NcRichText/index.js
  src/functions/reference/customPickerElements.js
  src/functions/reference/customPickerElements.ts
  src/functions/reference/index.js
  src/functions/reference/index.ts
  src/functions/reference/providerHelper.ts
  src/functions/reference/reference-globals.d.ts
  src/functions/reference/referencePickerModal.js
  src/functions/reference/referencePickerModal.ts
  src/functions/reference/widgets.ts
  src/functions/registerReference/index.ts
Labels: 3. to review, refactor ♻️
