Repository nextcloud-libraries/nextcloud-vue, pull requests merged in 2025-02, with the labels that each got.

#6492 fix(NcDateTimePicker): selected and hover time is not readable
  src/components/NcDateTimePicker/index.scss
Labels: bug, 3. to review, backport-request

#6499 fix: extract un-escaping of text/code nodes with XML-like content
  cypress/component/richtext.cy.ts
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/remarkUnescape.js
Labels: bug, 3. to review, backport-request, feature: richtext

#6501 fix(NcRichText): unlock tests, patch component
  cypress/component/richtext.cy.ts
  src/components/NcRichText/NcRichText.vue
  src/components/NcRichText/remarkUnescape.js
Labels: 3. to review, regression, feature: richtext

#6506 revert: import remark-gfm library in NcRichText as module, not async
  src/components/NcRichText/NcRichText.vue
  tests/unit/components/NcRichText/NcRichText.spec.js
Labels: bug, 3. to review, regression, backport-request, feature: richtext

#6452 refactor: Use boolean props with default value false
  CHANGELOG.md
  src/components/NcAppContent/NcAppContent.vue
  src/components/NcModal/NcModal.vue
Labels: 3. to review, backport-request, refactor ♻️

#6342 fix(NcPopover): emit `after-show` after `focus-trap` init to correctly return focus when content set focus initially (e.g. `NcEmojiPicker`)
  src/components/NcPopover/NcPopover.vue
Labels: bug, 3. to review, feature: popover, accessibility, backport-request, feature: emoji picker

#6434 fix(NcModal): Enforce opaque backdrop if needed
  src/components/NcModal/NcModal.vue
  src/utils/ValidateSlot.js
Labels: bug, 3. to review, feature: modal, accessibility, backport-request

#6372 fix(NcRichContenteditable): remove value linkify
  src/mixins/richEditor/index.js
  tests/unit/mixins/richEditor.spec.js
Labels: bug, 3. to review, backport-request, feature: rich-contenteditable

#6507 fix(NcAction*): complete BiDi support
  src/components/NcActionCaption/NcActionCaption.vue
  src/components/NcActionCheckbox/NcActionCheckbox.vue
  src/components/NcActionInput/NcActionInput.vue
  src/components/NcActionRadio/NcActionRadio.vue
  src/components/NcActionTextEditable/NcActionTextEditable.vue
  src/components/NcActions/NcActions.vue
  src/components/NcButton/NcButton.vue
  src/components/NcColorPicker/NcColorPicker.vue
  src/components/NcHeaderButton/NcHeaderButton.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcPasswordField/NcPasswordField.vue
  src/components/NcTextField/NcTextField.vue
Labels: bug, 3. to review, feature: actions, backport-request, RTL

#6505 chore: prepare v8.23.0 release
  CHANGELOG.md
  package-lock.json
  package.json
Labels: 3. to review

#6549 [next] Fix npm audit
  package-lock.json
Labels: 3. to review, dependencies

#6396 feat(NcBlurHash): Add a blur hash component
  jest.config.js
  package-lock.json
  package.json
  src/components/NcBlurHash/NcBlurHash.vue
  src/components/NcBlurHash/index.js
  src/components/index.js
  src/functions/index.ts
  src/functions/preloadImage/index.ts
  webpack.config.js
Labels: enhancement, 3. to review, component, backport-request

#6558 fix(NcEmojiPicker): not focusable when used in another focus trap
  src/components/NcActions/NcActions.vue
  src/components/NcAppNavigation/NcAppNavigation.vue
  src/components/NcAppSidebar/NcAppSidebar.vue
  src/components/NcEmojiPicker/NcEmojiPicker.vue
  src/components/NcHeaderMenu/NcHeaderMenu.vue
  src/components/NcModal/NcModal.vue
  src/components/NcPopover/NcPopover.vue
  src/composables/useTrapStackControl.ts
  src/utils/focusTrap.js
  src/utils/focusTrap.ts
Labels: bug, 3. to review, backport-request, feature: emoji picker

#6560 [next]feat(NcBlurHash): Add a blur hash component
  package-lock.json
  package.json
  src/components/NcBlurHash/NcBlurHash.vue
  src/components/NcBlurHash/index.ts
  src/components/index.ts
  src/functions/index.ts
  src/functions/preloadImage/index.ts
  webpack.config.cjs
Labels: enhancement, 3. to review, component, vue 3

#6006 feat(NcDialog): Allow to catch `reset` event
  src/components/NcDialog/NcDialog.vue
  src/components/NcDialogButton/NcDialogButton.vue
  tests/setup.js
  tests/unit/components/NcDialogButton/NcDialogButton.spec.ts
Labels: enhancement, 3. to review, feature: dialog, backport-request
